/*=============================================
　　色関連
==============================================*/
/*-- white --*/
$cl-white: #fff;

/*-- black --*/
$cl-black: #222;

/*-- green --*/
$cl-green: #00993D;

/*-- yellow --*/
$cl-yellow: #F7C709;

/*-- yellow_green --*/
$cl-yellow_green: #ABC201;

/*-- deep_orange --*/
$cl-deep_orange: #FB401C;

/*-- orange --*/
$cl-orange: #ED9630;

/*-- blue --*/
$cl-blue: #003686;

/*-- light_blue --*/
$cl-light_blue: #09AAEF;

/*-- pink* --*/
$cl-pink: #FF88D0;

/*-- red --*/
$cl-red: #E60012;

/*=============================================
　　フォント関連
==============================================*/
$ff-base: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", 'Hiragino Sans', "ヒラギノ角ゴ", Meiryo UI, "メイリオ UI", Meiryo, "メイリオ", Arial, Helvetica, "MS PGothic", "ＭＳ Ｐゴシック", Osaka, sans-serif;
$ff-pathway: 'Pathway Gothic One', sans-serif;
$ff-arial: "Arial", sans-serif;


/*=============================================
　　その他
==============================================*/
@mixin float-clear {
  overflow: hidden;
  zoom: 1;
}
