/*=============================================
　　基本設定
==============================================*/
html {
  font-size: 62.5%;
}
body {
  font-family: $ff-base;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  color: $cl-black;
  position: relative;
  letter-spacing: 0.08em;
  margin-top: 80px;
}
a{
  color: $cl-black;
  transition: .4s;
  &:hover{
    color: $cl-deep_orange;
    transition: .4s;
    cursor: pointer;
    img{
      opacity: 0.8;
      transition: .4s;
    }
  }
}
ul{
  li{
    list-style: none;
  }
}

.sp-on{display: none;}
.pc-on{display: block;}
@media (max-width: 768px) {
  .pc-on{display: none;}
  .sp-on{display: block;}
}



/*======== 幅指定 ========*/
.wrapper{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  body{
    margin-top: 55px;
  }
  .wrapper{
    width: 96%;
    max-width: 96%;
    margin: 0 auto;
  }
}

.clearfix{
  @include float-clear;
}