@mixin clearfix() {
  content: '';
  display: block;
  clear: both;
}

//サービス - 取扱店舗
@mixin handling($color) {
  &-title {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 1em;
    margin-bottom: 20px;
    background: $color;
    border-radius: 30px;
    font-size: 2.8rem;
    color: $cl-white;
    font-weight: 800;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-item {
      width: 48.75%;
      padding: 15px;
      margin-bottom: 20px;
      border: #ccc 1px solid;
      .pic {
        margin-bottom: 15px;
      }
      .logo {
        display: flex;
        padding-left: 20px;
        margin-bottom: 10px;
        font-size: 2.4rem;
        font-weight: 600;
      }
      .add {
        padding-left: 20px;
        margin-bottom: 10px;
        font-size: 1.4rem;
        font-weight: 600;
      }
      .info {
        @include clearfix();
        padding: 10px 20px 5px;
        background: #eee;
        dt {
          clear: both;
          float: left;
          width: 105px;
          margin-right: 1.5em;
          background: #EA5503;
          font-size: 1.2rem;
          color: #fff;
          font-weight: 600;
          text-align: center;
        }
        dd {
          margin-bottom: 5px;
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
      .link {
        height: 60px;
        margin-top: 15px;
        background: url(../cmn-img/common/arw_next.png) no-repeat, #EA5503;
        background-size: 15px auto, 100% 100%;
        background-position: right 15px center;
        border-radius: 10px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: #fff;
          font-size: 2.6rem;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    &-list {
      &-item {
        .logo {
          font-size: 1.8rem;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &-title {
      height: 50px;
      border-radius: 25px;
      font-size: 2rem;
    }
    &-list {
      &-item {
        width: 100%;
        .pic {
          margin-bottom: 10px;
        }
        .logo {
          margin-bottom: 5px;
        }
        .add {
          font-size: 1.2rem;
        }
        .info {
          dt {
            margin-right: 10px;
            font-size: 1.1rem;
          }
          dd {
            font-size: 1.1rem;
          }
        }
        .link {
          a {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}

//サービス - ポイントのボックス
@mixin point_container($color) {
  &-title {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 30px;
    span {
      color: $cl-blue;
    }
  }
  &-list {
    &-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      .pic {
        flex-grow: 1;
        width: 37.5%;
        margin-right: 30px;
      }
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          .point-list-title {
            background: url('../cmn-img/common/point_num0#{$i}.png') no-repeat, linear-gradient(to right, $cl-yellow 20%, $color 20%);
            background-position: 3% center, center center;
            background-size: 14.7707% auto, 100% 100%;
          }
        }
      }
    }
    &-inner {
      width: calc(62.5% - 30px);
    }
    &-title {
      display: flex;
      align-items: center;
      width: 100%;
      height: 60px;
      padding: 0 10px 0 23%;
      margin-bottom: 20px;
      border-radius: 30px;
      color: #fff;
      font-size: 2.5rem;
      width: 800;
    }
    &-text {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.7;
      p {
        margin-bottom: 1.2em;
      }
      .title {
        position: relative;
        padding-left: 17px;
        margin-bottom: .3em;
        border-bottom: $cl-yellow_green 4px solid;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.8;
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: calc(50% - 5px);
          left: 0;
          width: 10px;
          height: 10px;
          background: $cl-yellow_green;
        }
      }
      .list {
        margin-bottom: 1.2em;
        &-item {
          position: relative;
          padding-left: 20px;
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 6px;
            left: 0;
            width: 12px;
            height: 12px;
            background: $cl-yellow_green;
            border-radius: 50%;
          }
        }
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    &-title {
      font-size: 2.3rem;
    }
    &-list {
      &-title {
        font-size: 2.2rem;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &-list {
      &-item {
        flex-direction: column;
        margin-bottom: 35px;
        .pic {
          order: 2;
          width: 100%;
          max-width: 300px;
          margin: 0 auto;
        }
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            .point-list-title {
              background-size: 14.7707% auto, 100% 100%;
            }
          }
        }
      }
      &-inner {
        order: 1;
        width: 90%;
        margin: 0 auto 20px;
      }
      &-title {
        font-size: 1.8rem;
      }
      &-text {
        font-size: 1.4rem;
        .title {
          border-bottom-width: 3px;
          font-size: 1.6rem;
        }
        .list {
          &-item {
            &::before {
              top: 4px;
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }
}

@mixin form() {
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 35px;
    tr {
      border: #ccc 1px solid;
    }
    th, td {
      vertical-align: middle;
      padding: 30px 25px 30px 20px;
    }
    th {
      position: relative;
      width: 270px;
      background: #FBF9F3;
      font-size: 1.6rem;
      font-weight: 600;
      text-align: left;
      .required {
        position: absolute;
        top: calc(50% - 10px);
        right: 20px;
        padding: 2px 0;
        background: #EA5503;
        font-size: 1.2rem;
        color: #fff;
        font-weight: 600;
      }
    }
    td {
      input[type="text"],
      input[type="tel"],
      input[type="email"],
      input[type="date"],
      input[type="time"] {
        width: 100%;
        height: 40px;
        border: #555 2px solid;
        border-radius: 5px;
      }
      input[type="text"],
      input[type="tel"],
      input[type="email"] {
        padding: 0 .5em;
      }
      input[type="date"],
      input[type="time"] {
        &::-webkit-calendar-picker-indicator {
          box-sizing: border-box;
          width: 45px;
          height: 40px;
          padding-left: 10px;
        }
      }
      textarea {
        width: 100%;
        padding: .5em;
        border: #555 2px solid;
        border-radius: 5px;
      }
      input[type="date"] {
        &::-webkit-calendar-picker-indicator {
          background: url(../cmn-img/common/icon_date.png) no-repeat, #EA5503;
          background-size: 18px auto, 45px 100%;
          background-position: right 12px center, right center;
        }
      }
      input[type="time"] {
        width: 200px;
        &::-webkit-calendar-picker-indicator {
          height: 40px;
          padding-left: 10px;
          background: url(../cmn-img/common/icon_time.png) no-repeat, #EA5503;
          background-size: 20px auto, 45px 100%;
          background-position: right 12px center, right center;
        }
      }
      .input {
        &-date,
        &-time {
          position: relative;
          margin-bottom: .3em;
        }
        &-date {
          width: calc(100% - 215px);
          min-width: 200px;
          margin-right: 15px;
          &::after {
            content: '';
            display: block;
            position: absolute;
            right: 2px;
            top: 2px;
            height: 36px;
            width: 45px;
            background: url(../cmn-img/common/icon_date.png) no-repeat, #EA5503;
            background-size: 20px auto, 45px 100%;
            background-position: right 12px center, right center;
            border-radius: 0 3px 3px 0;
            pointer-events: none;
          }
        }
        &-time {
          width: 200px;
          &::after {
            content: '';
            display: block;
            position: absolute;
            right: 2px;
            top: 2px;
            height: 36px;
            width: 45px;
            background: url(../cmn-img/common/icon_time.png) no-repeat, #EA5503;
            background-size: 20px auto, 45px 100%;
            background-position: right 12px center, right center;
            border-radius: 0 3px 3px 0;
            pointer-events: none;
          }
        }
      }
      input[type="radio"] {
        margin: .3em;
      }
      &.datetime {
        display: flex;
      }
      .note {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
  .date-list {
    &-item {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .label {
        width: 100%;
        margin-bottom: .2em;
      }
    }
  }
  .consent {
    &-text {
      font-size: 1.4rem;
      font-weight: 500;
      text-align: center;
      a {
        color: #EA5503;
      }
    }
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1em;
      margin-bottom: 45px;
      text-align: center;
      line-height: 2rem;
      input {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: #555 2px solid;
        border-radius: 5px;
      }
    }
  }
  .submit {
    &-container {
    }
    &-button {
      width: 350px;
      height: 85px;
      background-size: contain;
      margin: 0 auto;
      &-confirm {
        background: url(../cmn-img/contact/button_confirm.png) no-repeat;
        background-size: contain;
      }
      &-submit {
        background: url(../cmn-img/contact/button_submit.png) no-repeat;
        background-size: contain;
      }
      &-prev {
        margin-bottom: 10px;
        background: url(../cmn-img/contact/button_return.png) no-repeat;
        background-size: contain;
      }
      input {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
        color: transparent;
      }
    }
  }
  @media screen and (max-width: 768px) {
    table {
      th,
      td {
        display: block;
        width: 100%;
      }
      td {
        padding: 25px 20px;
        .input {
          &-date,
          &-time {
            width: 100%;
          }
          &-date {
            margin-right: 0;
          }
        }
        &.datetime {
          flex-direction: column;
        }
        input[type="date"],
        input[type="time"] {
          width: 100%;
        }
      }
    }
    //jquery-timepicker
    .ui-timepicker-wrapper {
      width: 100%;
    }
    //--jquery-timepicker
  }
}

/*=============================================
　　共通パーツ
==============================================*/
body {
  /*===== 追従メニュー =====*/
  .fixed_menu{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    ul{
      li{
        margin-bottom: 4px;
        a{
          display: block;
          background: $cl-white;
          padding: 7px 15px 7px 60px;
          position: relative;
          text-align: center;
          border-radius: 8px 0 0 8px;
          line-height: 1.3;
          font-weight: bold;
          transition: .4s;
          right: -10px;
          &::before{
            content: '';
            width: 45px;
            height: 43px;
            position: absolute;
            top: 50%;
            left: 6px;
            margin-top: -21.5px;
            transition: .4s;
          }
          &:hover{
            right: 0;
          }
        }
        &:nth-child(1){
          a{
            color: $cl-blue;
            border-top: 2px solid $cl-blue;
            border-left: 2px solid $cl-blue;
            border-bottom: 2px solid $cl-blue;
            &::before{
              background: url(../cmn-img/common/fixed_icon01.png);
              background-size: cover;
            }
            &:hover{
              color: $cl-white;
              background: $cl-blue;
              &::before{
                background: url(../cmn-img/common/fixed_icon01_on.png);
                background-size: cover;
              }
            }
          }
        }
        &:nth-child(2){
          a{
            color: $cl-deep_orange;
            border-top: 2px solid $cl-deep_orange;
            border-left: 2px solid $cl-deep_orange;
            border-bottom: 2px solid $cl-deep_orange;
            &::before{
              background: url(../cmn-img/common/fixed_icon02.png);
              background-size: cover;
            }
            &:hover{
              color: $cl-white;
              background: $cl-deep_orange;
              &::before{
                background: url(../cmn-img/common/fixed_icon02_on.png);
                background-size: cover;
              }
            }
          }
        }
        &:nth-child(3){
          a{
            color: $cl-light_blue;
            border-top: 2px solid $cl-light_blue;
            border-left: 2px solid $cl-light_blue;
            border-bottom: 2px solid $cl-light_blue;
            &::before{
              background: url(../cmn-img/common/fixed_icon03.png);
              background-size: cover;
            }
            &:hover{
              color: $cl-white;
              background: $cl-light_blue;
              &::before{
                background: url(../cmn-img/common/fixed_icon03_on.png);
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }
  /*===== 共通タイトル =====*/
  .title_wrap01{
    text-align: center;
    .jp_tit{
      margin: 0 auto;
    }
    .en_tit{
      font-family: $ff-pathway;
      font-size: 1.8rem;
      letter-spacing: 0.3em;
      color: $cl-green;
    }
  }
  .title_obi{
    font-size: 2.6rem;
    padding: 7px 40px 8px;
    border-radius: 30px;
  }
  /*===== 共通サービス一覧 =====*/
  .service{
    background: url(../cmn-img/common/service_bg.png) repeat;
    background-size: 58px;
    padding: 80px 0 100px;
    .title_wrap01{
      .jp_tit{
        width: 352px;
      }
    }
    .mintit{
      width: 40.6%;
      max-width: 406px;
      margin: 30px auto;
    }
    .holder{
      position: relative;
      &::before{
        content: '';
        width: 28.3%;
        max-width: 283px;
        height: 201px;
        background: url(../cmn-img/index/service_parts01.png) no-repeat;
        background-size: contain;
        background-position: center bottom;
        position: absolute;
        top: -201px;
        left: 0;
      }
      &::after{
        content: '';
        width: 19.4%;
        max-width: 194px;
        height: 191px;
        background: url(../cmn-img/index/service_parts02.png) no-repeat;
        background-size: contain;
        background-position: center bottom;
        position: absolute;
        top: -191px;
        right: 25px;
      }
      .box{
        border-radius: 10px;
        margin-bottom: 20px;

        .txt_box{
          position: relative;
          text-align: center;
          width: 52%;
          float: left;
          color: $cl-white;
          p.number{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            writing-mode: vertical-rl;
            font-family: $ff-pathway;
            letter-spacing: 0.35em;
            font-size: 2.6rem;
            height: 100%;
            padding: 10px 15px 0 20px;
            line-height: 1;
            background-image :linear-gradient(to bottom, #fff, #fff 2px, transparent 2px, transparent 8px);
            background-size: 2px 8px;
            background-position: right top;
            background-repeat: repeat-y;
            span{
              opacity: 0.5;
            }
          }
          .txt_cont{
            padding: 30px 0 30px 30px;
            p{
              &.tit{
                width: 70%;
                max-width: 290px;
                font-size: 3.0rem;
                font-weight: bold;
                position: relative;
                margin: 0 auto 40px;
                line-height: 1;
                padding-top: 15px;
                &::before{
                  content: '';
                  background: url(../cmn-img/common/service_tit_waku01.png);
                  background-size: cover;
                  width: 14px;
                  height: 56px;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
                &::after{
                  content: '';
                  background: url(../cmn-img/common/service_tit_waku02.png);
                  background-size: cover;
                  width: 14px;
                  height: 56px;
                  position: absolute;
                  top: 0;
                  right: 0;
                }
              }
            }
          }
          .btn{
            margin: 30px auto 0;
            width: 220px;
            a{
              display: block;
              background: $cl-white;
              text-align: left;
              padding: 14px 0 14px 30px;
              border-radius: 100px;
              border: 2px solid $cl-white;
              font-size: 1.7rem;
              line-height: 1;
              &::before,
              &::after {
                content: '';
                display: block;
                width: 3px;
                color: #000;
              }
            }

          }
        }
        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            .btn {
              a {
                background: url('../cmn-img/common/service0#{$i}_arw.png') no-repeat,$cl-white;
                background-size: 10px auto, 100% 100%;
                background-position: right 20px center, 100% 100%;
              }
            }
          }
        }
        .img_box{
          width: 48%;
          float: right;
        }

        &:nth-child(1){
          .txt_box{
            background: $cl-green;
            .btn{
              a{
                color: $cl-green;
                &:hover{
                  background: $cl-green;
                  color: $cl-white;
                }
              }
            }
          }
          .img_box{
            background: url(../cmn-img/common/service01_img.png);
            background-size: cover;
            background-position: center right;
          }
        }
        &:nth-child(2){
          .txt_box{
            background: $cl-yellow_green;
            .btn{
              a{
                color: $cl-yellow_green;
                &:hover{
                  background: $cl-yellow_green;
                  color: $cl-white;
                }
              }
            }
          }
          .img_box{
            background: url(../cmn-img/common/service02_img.png);
            background-size: cover;
            background-position: center;
          }
        }
        &:nth-child(3){
          .txt_box{
            background: $cl-orange;
            .btn{
              a{
                color: $cl-orange;
                &:hover{
                  background: $cl-orange;
                  color: $cl-white;
                }
              }
            }
          }
          .img_box{
            background: url(../cmn-img/common/service03_img.png);
            background-size: cover;
            background-position: center;
          }
        }
        &:nth-child(4){
          .txt_box{
            background: $cl-deep_orange;
            .btn{
              a{
                color: $cl-deep_orange;
                &:hover{
                  background: $cl-deep_orange;
                  color: $cl-white;
                }
              }
            }
          }
          .img_box{
            background: url(../cmn-img/common/service04_img.png);
            background-size: cover;
            background-position: center;
          }
        }
        &:nth-child(5){
          .txt_box{
            background: $cl-pink;
            .btn{
              a{
                color: $cl-pink;
                &:hover{
                  background: $cl-pink;
                  color: $cl-white;
                }
              }
            }
          }
          .img_box{
            background: url(../cmn-img/common/service05_img.png);
            background-size: cover;
            background-position: center;
          }
        }
        &:nth-child(6){
          .txt_box{
            background: $cl-blue;
            .btn{
              a{
                color: $cl-blue;
                &:hover{
                  background: $cl-blue;
                  color: $cl-white;
                }
              }
            }
          }
          .img_box{
            background: url(../cmn-img/common/service06_img.png);
            background-size: cover;
            background-position: center;
          }
        }
        &:nth-child(7){
          .txt_box{
            background: $cl-light_blue;
            .btn{
              a{
                color: $cl-light_blue;
                &:hover{
                  background: $cl-light_blue;
                  color: $cl-white;
                }
              }
            }
          }
          .img_box{
            background: url(../cmn-img/common/service07_img.png);
            background-size: cover;
            background-position: center;
          }
        }
      }
    }
    .button{
      width: 500px;
      margin: 60px auto 0;
    }
  }
  /*===== 店舗一覧 =====*/
  .holder.office{
    position: relative;
    &::before{
      content: '';
      width: 254px;
      height: 110px;
      background: url(../cmn-img/index/office_car.png);
      background-size: cover;
      position: absolute;
      top: -110px;
      right: 0;
    }
    .box{
      width: 47%;
      float: left;
      padding: 15px;
      border-radius: 8px;
      background: $cl-white;
      margin: 10px 10px 30px 10px;
      box-shadow: 0 0 8px #D5D5D5;
      .img_box{
        border-radius: 6px;
        margin-bottom: 10px;
      }
      .txt_box{
        p{
          &.name{
            font-size: 2.2rem;
            font-weight: bold;
            margin-bottom: 5px;
          }
          &.address{
            font-size: 1.4rem;
            padding-bottom: 10px;
          }
        }
        .info_box{
          background: #EEEEEE;
          padding: 18px;
          border-radius: 4px;
          dl{
            dt{
              background: #EA5503;
              font-size: 1.2rem;
              color: $cl-white;
              text-align: center;
              padding: 5px 0;
              line-height: 1;
              display: inline-block;
              width: 100px;
              border-radius: 4px;
              margin: 4px auto;
            }
            dd{
              font-size: 1.3rem;
              display: inline-block;
              padding-left: 10px;
            }
          }
        }
      }
      .button{
        margin-top: 15px;
        a{
          display: block;
          padding: 10px 0;
          text-align: center;
          color: $cl-white;
          border: 2px solid $cl-green;
          background: $cl-green;
          border-radius: 6px;
          position: relative;
          &::after{
            content: '';
            width: 8px;
            height: 13px;
            background: url(../cmn-img/common/btn_arrow01.png);
            background-size: cover;
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -6.5px;
          }
          &:hover{
            background: $cl-white;
            color: $cl-green;
            &::after{
              background: url(../cmn-img/common/btn_arrow01_on.png);
              background-size: cover;
            }
          }
        }
      }
      &:nth-child(even){
        float: right;
      }
    }
  }
  /*===== 下層キービジュアル =====*/
  #keyVisual{
    height: 270px;
    h2.page_title{
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      span{
        &.jp{
          font-size: 5.0rem;
          color: $cl-white;
        }
        &.en{
          background: $cl-white;
          color: $cl-green;
          font-family: $ff-pathway;
          font-size: 2.0rem;
          letter-spacing: 0.3em;
          padding: 3px 15px;
          line-height: 1.2;
        }
      }
    }
  }
  /*===== 下層パンくずリスト ======*/
  ol#breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-top: 20px;
    li{
      display: inline-block;
      list-style: none;
      font-size: 1.3rem;
      color: #888;
      a{
        color: #888;
      }
      &::after{
        content: ">";
        display: inline-block;
        margin: 0 10px;
      }
      &:last-child{
        color: $cl-black;
        &::after{
          content: '';
        }
      }
    }
  }
  /*===== 下層 カラーボード01 ======*/
  .color_board01{
    width: 100%;
    padding: 30px 50px 35px;
    border: 1px solid #666;
    background: #EFEFEF;
    h4.mintit{
      font-size: 2.4rem;
      color: $cl-white;
      text-align: center;
      padding: 5px 0 4px;
      background: #666;
      margin-bottom: 5px;
    }
    &.green{
      border: 1px solid $cl-green;
      background: #F7FFF7;
      h4.mintit{
        background: $cl-green;
      }
    }
  }
  /*===== 下層 カラーボックス ======*/
  .color_box_content{
    .box{
      position: relative;
      background: $cl-white;
      margin-top: 70px;
      border-radius: 0 15px 15px 15px;
      padding: 15px;
      letter-spacing: 0.02em;
      font-weight: 600;
      width: 32%;
      float: left;
      margin-right: 2%;
      &:nth-child(1){
        border: 4px solid $cl-light_blue;
        .tab{
          background: $cl-light_blue;
        }
        .tit{
          background: #D6F3FF;
        }
      }
      &:nth-child(2){
        border: 4px solid $cl-yellow_green;
        .tab{
          background: $cl-yellow_green;
        }
        .tit{
          background: #EAF0BF;
        }
      }
      &:nth-child(3){
        border: 4px solid $cl-pink;
        margin-right: 0;
        .tab{
          background: $cl-pink;
        }
        .tit{
          background: #FFEDF8;
        }
      }
      .tab{
        position: absolute;
        top: -43px;
        left: -4px;
        padding: 10px 0 0;
        width: 150px;
        text-align: center;
        border-radius: 10px 10px 0 0;
        img{
          width: 100px;
        }
      }
      .tit{
        text-align: center;
        font-size: 2.2rem;
        font-weight: bold;
        padding: 10px 0 8px;
        margin-bottom: 20px;
        border-radius: 5px;
        position: relative;
        height: 82px;
        p{
          text-align: center;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      p {
        line-height: 1.7;
      }
      .img{
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}

/*======== TABLET ========*/
@media screen and (min-width: 769px) and (max-width: 1040px) {
  body{
    /*===== 共通サービス一覧 =====*/
    .service {
      .mintit {
        min-width: 320px;
      }
      .holder {
        &::before {
          // width: 233px;
          height: 165px;
          top: -165px;
        }
        &::after {
          // width: 165px;
          height: 167px;
          top: -167px;
        }
        .box {
          border-radius: 10px;
          margin-bottom: 20px;
          .txt_box {
            .txt_cont {
              padding: 30px 0 30px 60px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 760px) and (max-width: 1040px) {
  body{
    /*===== 店舗一覧 =====*/
    .holder.office {
      .box {
        width: 46%!important;
        float: left!important;
        &:nth-child(even) {
          float: right!important;
        }
      }
    }
  }
}


/*========== SP ==========*/
@media (max-width: 768px) {
  body{
    padding-bottom: 56.6px;
    /*===== 追従メニュー =====*/
    .fixed_menu{
      position: fixed;
      right: inherit;
      top: inherit;
      left: 0;
      bottom: 0;
      transform: inherit;
      width: 100%;
      ul{
        li{
          margin-bottom: 0;
          float: left;
          width: 33%;
          width : calc(100% / 3) ;
          a{
            padding: 9px 7px 6px 55px;
            border-radius: 10px 10px 0 0;
            right: 0;
            &::before{
              width: 42px;
              height: 40px;
              left: 8px;
              margin-top: -20px;
            }
            &:hover{
              right: 0;
            }
          }
          &:nth-child(1){
            a{
              color: $cl-white;
              background: $cl-blue;
              border: none;
              &::before{
                background: url(../cmn-img/common/fixed_icon01_on.png);
                background-size: cover;
              }
            }
          }
          &:nth-child(2){
            a{
              color: $cl-white;
              background: $cl-deep_orange;
              border: none;
              &::before{
                background: url(../cmn-img/common/fixed_icon02_on.png);
                background-size: cover;
              }
            }
          }
          &:nth-child(3){
            a{
              color: $cl-white;
              background: $cl-light_blue;
              border: none;
              &::before{
                background: url(../cmn-img/common/fixed_icon03_on.png);
                background-size: cover;
              }
            }
          }
        }
      }
    }
    /*===== 共通タイトル =====*/
    .title_wrap01{
      .en_tit{
        font-size: 1.4rem;
      }
    }
    .title_obi{
      font-size: 2.0rem;
      padding: 10px 20px 12px;
    }
    /*===== 共通サービス一覧 =====*/
    .service{
      padding: 40px 0 30px;
      .title_wrap01{
        .jp_tit{
          width: 298px;
        }
      }
      .mintit{
        width: 160px;
        margin: 10px auto 15px;
        position: relative;
        z-index: 10;
      }
      .holder{
        &::before{
          width: 125px;
          height: 89px;
          top: -89px;
        }
        &::after{
          width: 90px;
          height: 90px;
          top: -90px;
          right: 10px;
        }
        .box{
          margin-bottom: 15px;
          .txt_box{
            width: 52%;
            p.number{
              font-size: 1.2rem;
              padding: 10px 7px 0 7px;
            }
            .txt_cont{
              padding: 10px 5px 10px 33px;
              p{
                &.tit{
                  width: 95%;
                  max-width: 150px;
                  font-size: 1.4rem;
                  margin: 5px auto 20px;
                  padding-top: 10px;
                  &::before{
                    width: 6.5px;
                    height: 35px;
                  }
                  &::after{
                    width: 8.1px;
                    height: 34px;
                  }
                }
                &.txt{
                  font-size: 1.0rem;
                }
              }
            }
            .btn{
              margin: 10px auto 0;
              width: 110px;
              a{
                padding: 7px 5px 7px 15px;
                font-size: 1.0rem;
              }
            }
          }
          @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
              .btn {
                a {
                  background-size: 5px auto, 100% 100%;
                  background-position: right 10px center, 100% 100%;
                }
              }
            }
          }
          &:nth-child(6){
            .img_box{
              background: url(../cmn-img/common/sp/service06_img.png);
              background-size: cover;
              background-position: center;
            }
          }
        }
      }
      .button{
        width: 100%;
        max-width: 500px;
        margin: 30px auto 0;
      }
    }
    .holder.office{
      &::before{
        width: 153px;
        height: 66px;
        top: -55px;
      }
      .box{
        width: 96%;
        float: none;
        padding: 15px;
        margin: 10px 2% 30px 2%;
        .img_box{
          margin-bottom: 5px;
          line-height: 0;
        }
        .txt_box{
          p{
            &.name{
              font-size: 2.0rem;
              margin-bottom: 3px;
            }
            &.address{
              font-size: 1.2rem;
            }
          }
          .info_box{
            padding: 18px;
            dl{
              dt{
                font-size: 1.1rem;
                width: 80px;
              }
              dd{
                font-size: 1.2rem;
              }
            }
          }
        }
        .button{
          margin-top: 15px;
          a{
            display: block;
            padding: 10px 0;
            text-align: center;
            color: $cl-white;
            border: 2px solid $cl-green;
            background: $cl-green;
            border-radius: 6px;
            position: relative;
            &::after{
              content: '';
              width: 8px;
              height: 13px;
              background: url(../cmn-img/common/btn_arrow01.png);
              background-size: cover;
              position: absolute;
              top: 50%;
              right: 10px;
              margin-top: -6.5px;
            }
            &:hover{
              background: $cl-white;
              color: $cl-green;
              &::after{
                background: url(../cmn-img/common/btn_arrow01_on.png);
                background-size: cover;
              }
            }
          }
        }
        &:nth-child(even){
          float: none;
        }
      }
    }
    /*===== 下層キービジュアル =====*/
    #keyVisual{
      height: 180px;
      h2.page_title{
        span{
          &.jp{
            font-size: 3.4rem;
          }
          &.en{
            font-size: 1.4rem;
          }
        }
      }
    }
    /*===== 下層パンくずリスト ======*/
    ol#breadcrumbs{
      padding-top: 10px;
      text-align: center;
      display: inherit;
      li{
        font-size: 1.2rem;
      }
    }
    /*===== 下層 カラーボード01 ======*/
    .color_board01{
      padding: 20px 2% 20px;
      h4.mintit{
        font-size: 2.0rem;
      }
    }
    /*===== 下層 カラーボックス ======*/
    .color_box_content{
      .box{
        padding: 15px;
        width: 90%;
        margin: 50px auto;
        float: none;
        &:last-child{
          margin: 0 auto;
        }
        .img{
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}
