section{
  &.footer_bnr{
    padding: 50px 0;
    background: $cl-white;
    .holder{
      .bnr{
        width: 32%;
        margin-right: 2%;
        margin-bottom: 10px;
        float: left;
        &:nth-child(3n){
          margin-right: 0;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  &.footer_info{
    background: url(../cmn-img/common/footer_info.png);
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    padding: 80px 0 90px;
    .holder{
      .box{
        background: $cl-white;
        border-radius: 8px;
        border: 2px solid $cl-green;
        padding: 20px 15px 15px;
        width: 48%;
        margin-bottom: 20px;
        float: left;
        &:nth-child(even){
          float: right;
        }
        p.title{
          color: #EA5503;
          font-weight: bold;
          font-size: 2.6rem;
          text-align: center;
          span{
            padding-left: 37px;
            position: relative;
            &::before{
              content: '';
              width: 34px;
              height: 29px;
              background: url(../cmn-img/common/ico-shop.png);
              background-size: cover;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
        .phone{
          width: 340px;
          margin: 10px auto 15px;
          a{
            display: block;
            background: $cl-green;
            border-radius: 30px;
            color: $cl-white;
            width: 100%;
            text-align: center;
            position: relative;
            padding: 12px 0 12px 20px;
            font-family: $ff-arial;
            font-size: 3.2rem;
            font-style: italic;
            font-weight: bold;
            letter-spacing: 0.1em;
            line-height: 1;
            &::before{
              content: '';
              width: 43px;
              height: 43px;
              background: url(../cmn-img/common/ico-phone.png);
              background-size: cover;
              position: absolute;
              top: 50%;
              left: 7px;
              margin-top: -21.5px;
            }
          }
        }
        .info{
          background: #EEEEEE;
          border-radius: 4px;
          padding: 15px 20px;
          .txt_box{
            float: left;
            width: 80%;
            p.address{
              font-size: 1.4rem;
            }
            dl{
              dt{
                background: #EA5503;
                font-size: 1.2rem;
                color: $cl-white;
                text-align: center;
                padding: 5px 0;
                line-height: 1;
                display: inline-block;
                width: 100px;
                border-radius: 4px;
                margin: 4px auto;
              }
              dd{
                font-size: 1.3rem;
                display: inline-block;
                padding-left: 10px;
                width : calc(100% - 110px) ;
              }
            }
          }
          .map_icon{
            float: right;
            width: 18%;
            padding-top: 12px;
          }
        }
      }
    }
  }
}
footer{
  padding: 70px 0 0;
  background: $cl-white;
  .footer_cont{
    width: 1000px;
    margin: 0 auto 60px;
    .footer_logo{
      float: left;
      width: 135px;
    }
    .nav{
      float: right;
      width: 740px;
      ul.bloc{
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;
        &:nth-child(2){
          margin-right: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        li{
          a{
            position: relative;
            padding-left: 10px;
            font-size: 1.3rem;
            font-weight: bold;
            &::before{
              content: '';
              width: 5px;
              height: 8px;
              background: url(../cmn-img/common/nav_arrow.png);
              background-size: cover;
              position: absolute;
              top: 50%;
              left: 0;
              margin-top: -4px;
            }
          }
          ul{
            width: 260px;
            li{
              display: inline-block;
              width: 125px;
              &:nth-child(even){
                width: 100px;
              }
              a{
                font-size: 1.2rem;
                font-weight: normal;
                &::before{
                  content: '・';
                  background: none;
                  position: inherit;
                }
              }
            }
          }
        }
      }
    }
    .nav_sp{
      display: none;
    }
  }
  .copyright{
    background: $cl-deep_orange;
    padding: 20px 0;
    p{
      color: $cl-white;
      font-size: 1.2rem;
      text-align: center;
      font-weight: 300;
    }
  }
}

/*======== TABLET ========*/
@media screen and (min-width: 769px) and (max-width: 1040px) {
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
  section{
    &.footer_info{
      .holder{
        .box{
          width: 48.5%!important;
          float: left!important;
          margin-bottom: 20px!important;
          &:nth-child(even){
            float: right!important;
          }
          .phone {
            width: 280px;
            a {
              font-size: 2.4rem;
              &::before {
                width: 35px;
                height: 35px;
                top: calc(50% - 17.5px);
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}

/*========== SP ==========*/
@media (max-width: 768px) {
  section{
    &.footer_bnr{
      padding: 30px 0 20px;
      .holder{
        .bnr{
          width: 48.5%;
          margin-right: 0;
          margin-bottom: 5px;
          float: left;
          &:nth-child(even){
            float: right;
          }
        }
      }
    }
    &.footer_info{
      padding: 40px 0;
      .holder{
        .box{
          padding: 20px 15px 15px;
          width: 100%;
          margin-bottom: 10px;
          float: none;
          &:nth-child(even){
            float: none;
          }
          p.title{
            font-size: 2.0rem;
            span{
              padding-left: 25px;
              &::before{
                width: 24px;
                height: 20px;
              }
            }
          }
          .phone{
            width: 260px;
            margin: 10px auto 15px;
            a{
              padding: 12px 0 12px 20px;
              font-size: 2.4rem;
              &::before{
                width: 37px;
                height: 37px;
                top: 50%;
                left: 6px;
                margin-top: -19px;
              }
            }
          }
          .info{
            padding: 10px;
            .txt_box{
              float: left;
              width: 80%;
              p.address{
                font-size: 1.2rem;
              }
              dl{
                dt{
                  font-size: 1.0rem;
                  padding: 3px 0;
                  width: 75px;
                  margin: 1px auto;
                }
                dd{
                  font-size: 1.2rem;
                  padding-left: 5px;
                  width : calc(100% - 85px) ;
                }
              }
            }
            .map_icon{
              float: right;
              width: 18%;
              padding-top: 12px;
            }
          }
        }
      }
    }
  }
  footer{
    padding: 30px 0 0;
    .footer_cont{
      width: 96%;
      margin: 0 auto 40px;
      .footer_logo{
        float: none;
        width: 135px;
        margin: 0 auto;
      }
      .nav{
        display: none;
      }
      .nav_sp{
        display: block;
        margin-top: 25px;
        li{
          display: inline-block;
          width: 49%;
          margin-bottom: 8px;
          a{
            display: block;
            color: $cl-white;
            background: $cl-deep_orange;
            padding: 13px 10px 10px 20px;
            font-size: 1.3rem;
            border-radius: 5px;
            position: relative;
            &::after{
              content: '';
              width: 6px;
              height: 9px;
              background: url(../cmn-img/common/btn_arrow01.png);
              background-size: cover;
              position: absolute;
              top: 50%;
              right: 10px;
              margin-top: -4.5px;
            }
          }
        }
      }
      .contact_btn{
        width: 240px;
        margin: 15px auto 0;
        a{
          display: block;
          background: $cl-green;
          border-radius: 30px;
          text-align: center;
          padding: 15px 20px 15px 20px;
          line-height: 1;
          border: 2px solid $cl-green;
          span{
            font-size: 1.5rem;
            color: $cl-white;
            position: relative;
            padding-left: 23px;
            letter-spacing: 0.03em;
            &::before{
              content: '';
              background: url(../cmn-img/common/ico-mail.png);
              background-size: cover;
              width: 18px;
              height: 12px;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
    .copyright{
      background: $cl-deep_orange;
      padding: 20px 0;
      p{
        color: $cl-white;
        font-size: 1.2rem;
        text-align: center;
        font-weight: 300;
      }
    }
  }
}
