header{
  background: #fff;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .head_wrap {
    width: calc(100% - 50px);
    margin: 0 25px;
    .head_con01 {
      float: left;
      .logo{
        width: 160px;
        float: left;
        padding-top: 10px;
        img{
          width: 100%;
        }
      }
      .beginners_btn {
        width: 130px;
        float: left;
        margin-left: 20px;
        margin-top: 21px;
        a {
          display: block;
          background: $cl-deep_orange;
          border-radius: 30px;
          text-align: center;
          padding: 7px 3px 9px 3px;
          line-height: 1;
          border: 2px solid $cl-deep_orange;
          span {
            font-size: 1.2rem;
            color: $cl-white;
            position: relative;
            padding-left: 20px;
            letter-spacing: 0.03em;
            font-weight: 600;
            &::before {
              content: '';
              background: url(../cmn-img/common/ico-beginner.png);
              background-size: cover;
              width: 13px;
              height: 18px;
              position: absolute;
              top: -2px;
              left: 0;
            }
          }
          &:hover {
            background: $cl-white;
            span{
              color: $cl-deep_orange;
              &::before {
                background: url(../cmn-img/common/ico-beginner_on.png);
                background-size: cover;
              }
            }
          }
        }
      }
    }
    .head_con02 {
      float: right;
      .global_menu {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        ul{
          li{
            display: inline-block;
            line-height: 1;
            a{
              display: block;
              padding: 32px 20px;
            }
            .child_menu {
              width: 100%;
              position: absolute;
              top: 100%;
              left: 0;
              background: $cl-green;
              opacity: 0.9;
              transition: .4s;
              padding: 40px 0 10px;
              z-index: 100;
              transition: 0.6s;
              visibility: hidden;
              opacity: 0;
              ul{
                width: 1000px;
                margin: 0 auto;
                li{
                  width: 23%;
                  max-width: 235px;
                  float: left;
                  margin-right: 2.5%;
                  margin-bottom: 20px;
                  a{
                    padding: 0;
                    .img{
                      position: relative;
                      overflow: hidden;
                      width: 100%;
                      height: 108px;
                      margin-right: 2.5%;
                      border-radius: 10px;
                      &::after{
                        position: absolute;
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        transition: all .3s ease-out;
                      }
                    }
                    p{
                      font-size: 1.5rem;
                      padding-top: 10px;
                    }
                    &:hover {
                      .img {
                        &::after{
                          transform: scale(1.1);
                        }
                      }
                    }
                  }
                  &:nth-child(1){
                    a{
                      .img{
                        &::after{
                          background: url(../cmn-img/common/mega_menu01.png) no-repeat;
                          background-size: cover;
                          background-position: center;
                        }
                      }
                    }
                  }
                  &:nth-child(2){
                    a{
                      .img{
                        &::after{
                          background: url(../cmn-img/common/mega_menu02.png) no-repeat;
                          background-size: cover;
                          background-position: center;
                        }
                      }
                    }
                  }
                  &:nth-child(3){
                    a{
                      .img{
                        &::after{
                          background: url(../cmn-img/common/mega_menu03.png) no-repeat;
                          background-size: cover;
                          background-position: center;
                        }
                      }
                    }
                  }
                  &:nth-child(4){
                    margin-right: 0;
                    a{
                      .img{
                        &::after{
                          background: url(../cmn-img/common/mega_menu04.png) no-repeat;
                          background-size: cover;
                          background-position: center;
                        }
                      }
                    }
                  }
                  &:nth-child(5){
                    a{
                      .img{
                        &::after{
                          background: url(../cmn-img/common/mega_menu05.png) no-repeat;
                          background-size: cover;
                          background-position: center;
                        }
                      }
                    }
                  }
                  &:nth-child(6){
                    a{
                      .img{
                        &::after{
                          background: url(../cmn-img/common/mega_menu06.png) no-repeat;
                          background-size: cover;
                          background-position: center;
                        }
                      }
                    }
                  }
                  &:nth-child(7){
                    a{
                      .img{
                        &::after{
                          background: url(../cmn-img/common/mega_menu07.png) no-repeat;
                          background-size: cover;
                          background-position: center;
                        }
                      }
                    }
                  }
                }
              }
            }
            &.menu.bg:hover{
              background: $cl-green;
              transition: .4s;
              a{
                color: $cl-white;
              }
              .child_menu{
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
      .contact_btn{
        display: inline-block;
        a{
          display: block;
          background: $cl-green;
          border-radius: 30px;
          text-align: center;
          padding: 11px 20px 13px 20px;
          line-height: 1;
          border: 2px solid $cl-green;
          span{
            font-size: 1.3rem;
            color: $cl-white;
            position: relative;
            padding-left: 23px;
            letter-spacing: 0.03em;
            &::before{
              content: '';
              background: url(../cmn-img/common/ico-mail.png);
              background-size: cover;
              width: 18px;
              height: 12px;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
          &:hover{
            background: $cl-white;
            span{
              color: $cl-green;
              &::before{
                background: url(../cmn-img/common/ico-mail_on.png);
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }
  &.header.shadow{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
}

/*======== TABLET ========*/
@media screen and (min-width: 768px) and (max-width: 1080px) {
  header{
    .head_wrap {
      width: calc(100% - 20px);
      margin: 0 15px;
      .head_con01{
        display: flex;
        align-items: center;
        .logo{
          width: 130px;
          padding-top: 12px;
        }
        .beginners_btn{
          width: 100px;
          margin-left: 5px;
          margin-top: 0;
          a {
            span {
              padding-left: 15px;
              font-size: 1rem;
              // white-space: nowrap;
              &::before {
                width: 10px;
                height: 14px;
              }
            }
          }
        }
      }
      .head_con02{
        .global_menu {
          ul{
            li{
              a{
                padding: 32px 8px;
                font-size: 1.3rem;
              }
            }
          }
        }
        .contact_btn{
          width: 100px;
          a {
            padding: 11px 5px 13px 5px;
            span {
              font-size: 1rem;
              white-space: nowrap;
              &::before {
                top: -1px;
              }
            }
          }
        }
      }
    }
  }
}

/*========== SP ==========*/
@media (max-width: 768px) {
  header{
    height: 55px;
    .head_wrap{
      width: 96%;
      margin: 0 auto;
      .head_con01{
        float: none;
        .logo{
          width: 100px;
          padding-top: 10px;
        }
        .beginners_btn{
          width: 120px;
          float: right;
          margin: 12px 65px 0 0;
          a{
            padding: 4px 5px 7px 5px;
            span{
              font-size: 1.1rem;
              padding-left: 20px;
            }
          }
        }
      }
      .head_con02{
        display: none;
      }
    }
  }
  /*-----MENU-----*/
  .gnav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #FFF57E;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    z-index: 99;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: scroll;
  }
  #navbtn{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    outline: none;
    border: none;
    background: $cl-green;
    padding: 13px;
    width: 55px;
    height: 55px;
    cursor: pointer;
  }
  #navbtn::before,
  #navbtn::after{
    content : '';
    display: block;
    height: 1px;
    background-color: $cl-white;
    transform: translateY(8px);
    transition: 0.3s ease-in-out;
  }
  #navbtn::before{
    transform: translateY(-7px);
    box-shadow: 0 8px $cl-white;
  }
  .open{
    #navbtn{
      z-index: 100;
      &::before{
        transform: rotate(-45deg);
        box-shadow: none;
      }
      &::after{
        transform: rotate(45deg);
        box-shadow: none;
      }
    }
    .gnav{
      visibility: visible;
      opacity: 1;
    }
  }
  .gnav{
    ul.acMenu {
      width:100%;
      margin:0 auto;
      li{
        p.menu-ttl{
          margin-bottom: 10px;
          border-radius: 5px;
          background: #fff;
          a{
            display: block;
            padding: 15px 20px;
            position: relative;
            &::after{
              content: '';
              width: 8px;
              height: 12px;
              background: url(../cmn-img/common/sp/menu_ico01.png);
              background-size: cover;
              position: absolute;
              top: 50%;
              right: 10px;
              margin-top: -6px;
            }
          }
          span{
            padding: 15px 20px;
            display: block;
            position: relative;
            &::after{
              content: '';
              width: 17px;
              height: 17px;
              background: url(../cmn-img/common/sp/menu_ico_plus.png);
              background-size: cover;
              position: absolute;
              top: 50%;
              right: 10px;
              margin-top: -8px;
            }
          }
          &.open{
            span{
              &::after{
                content: '';
                width: 17px;
                height: 17px;
                background: url(../cmn-img/common/sp/menu_ico_minus.png);
                background-size: cover;
                position: absolute;
                top: 50%;
                right: 10px;
                margin-top: -8px;
              }
            }
          }
        }
        ul.acMenu2{
          padding: 0 0 10px;
          li{
            margin-bottom: 10px;
            a{
              color: $cl-white;
              display: block;
              padding: 12px 20px;
              border-radius: 5px;
              font-size: 1.5rem;
              position: relative;
              &::after{
                content: '';
                width: 8px;
                height: 14px;
                background: url(../cmn-img/common/sp/menu_ico03.png);
                background-size: cover;
                position: absolute;
                top: 50%;
                right: 10px;
                margin-top: -7px;
              }
            }
            &:nth-child(1){
              a{
                background: $cl-green;
              }
            }
            &:nth-child(2){
              a{
                background: $cl-yellow_green;
              }
            }
            &:nth-child(3){
              a{
                background: $cl-orange;
              }
            }
            &:nth-child(4){
              a{
                background: $cl-deep_orange;
              }
            }
            &:nth-child(5){
              a{
                background: $cl-pink;
              }
            }
            &:nth-child(6){
              a{
                background: $cl-blue;
              }
            }
            &:nth-child(7){
              a{
                background: $cl-light_blue;
              }
            }
          }
        }
      }
    }
    .contact_btn{
      width: 240px;
      margin: 15px auto 0;
      a{
        display: block;
        background: $cl-green;
        border-radius: 30px;
        text-align: center;
        padding: 15px 20px 15px 20px;
        line-height: 1;
        border: 2px solid $cl-green;
        span{
          font-size: 1.5rem;
          color: $cl-white;
          position: relative;
          padding-left: 23px;
          letter-spacing: 0.03em;
          &::before{
            content: '';
            background: url(../cmn-img/common/ico-mail.png);
            background-size: cover;
            width: 18px;
            height: 12px;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}
