.about {
  #keyVisual{
    background: url(../cmn-img/about/key_visual.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  section {
    .title_obi {
      margin-bottom: 35px;
      background: #EA5503;
      color: #fff;
    }
  }
  .greeting {
    &-inner {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    .text {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2;
      &-wrap {
        width: calc((100% - 26.7% - 40px));
      }
    }
    figure {
      width: 26.7%;
      figcaption {
        font-size: 1.8rem;
        font-family: "ヒラギノ明朝 ProN", serif;
      }
    }
    .container {
      padding: 40px 5% 0;
      margin-bottom: 80px;
      background: #F7FFF7;
      border: $cl-green 1px solid;
      .wrap {

      }
      &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;margin-bottom: 20px;
        background: $cl-green;
        border-radius: 25px;
        font-size: 3rem;
        color: #fff;
      }
      &-text {
        margin-bottom: 40px;
        font-size: 2.2rem;
        line-height: 1.7;
        text-align: center;
        font-family: "ヒラギノ明朝 ProN", serif;
      }
    }
  }
  .overview {
    .title {
      margin-bottom: 15px;
      font-size: 2rem;
      color: $cl-green;
      text-align: center;
    }
    .table {
      border-collapse: collapse;
      margin-bottom: 40px;
      th,td {
        height: 50px;
        border: #000 1px solid;
        font-size: 1.4rem;
        width: 600;
      }
      th {
        width: 200px;
        padding: 15px;
        background: #FBF9F3;
        font-size: 1.6rem;
        font-weight: 600;
      }
      td {
        width: calc(100% - 200px);
        padding: 15px 25px;
        font-size: 1.6rem;
        width: 600;
      }
    }
    &-list {margin-bottom: 80px;
      display: flex;
      justify-content: space-between;
      &-item {
        width: calc((100% - 20px) / 2);
      }
    }
  }
  .history {
    padding-bottom: 100px;
    &-inner {
      display: flex;
      &:nth-child(even) {
        background: #FBF9F3;
      }
    }
    &-title {
      padding: 15px 45px;
      font-size: 1.4rem;
      font-weight: 600;
    }
    &-text {
      padding: 15px 10px;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  .affiliated {
    &-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px 5%;
      background: #F7FFF7;
      border: $cl-green 1px solid;
      &-item {
        width: calc((100% - 40px) / 2);
        padding-bottom: 20px;
      }
    }
    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin-bottom: 20px;
      background: $cl-green;
      color: #fff;
    }
    .link {
      display: flex;
      justify-content: flex-start;
      color: #fff;
      text-align: center;
      span {
        display: flex;
        .insta,
        .fb {
          display: block;
          width: 20px;
          margin-left: 5px;
        }
      }
    }
  }
}





@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .about {
    #keyVisual{
      background: url(../cmn-img/about/sp/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
    }

    section {
      .title_obi {
        margin-bottom: 25px;
      }
    }
    .greeting {
      &-inner {
        flex-direction: column;
        align-items: center;
      }
      .text {
        width: 100%;
        &-wrap {
          width: 100%;
          order: 2;
        }
      }
      figure {
        order: 1;
        width: 50%;
        margin-bottom: 30px;
        figcaption {
          font-size: 1.4rem;
        }
      }
      .container {
        padding: 20px 4% 0;
        margin-bottom: 60px;
        .wrap {

        }
        &-title {
          font-size: 2.4rem;
        }
        &-text {
          // margin-bottom: 40px;
          font-size: 1.8rem;
        }
      }
    }
    .overview {
      .title {
        font-size: 2rem;
      }
      .table {
        border-bottom: #000 1px solid;
        th,td {
          display: block;
          border-bottom-width: 0;
        }
        th {
          width: 100%;
          // border-bottom-width: 0;
        }
        td {
          width: 100%;
          height: auto;
        }
      }
    }
    .affiliated {
      &-list {
        flex-direction: column;
        &-item {
          width: 100%;
        }
      }
      .link {
        justify-content: center;
      }
    }
  }
}
