/* --------------------

サイドバーウィジェットの見出しは
h4に設定する

-------------------- */

.category {
  #keyVisual {
    //カテゴリ毎のキービジュアルがない場合
    background: url(../cmn-img/news/key_visual.png) no-repeat;
    //現状NEWS以外のカテゴリ想定ないのでNEWSと同じものを設定してあります
    background-size: cover;
    background-position: center;
  }
  section {
    .title_obi {
      margin-bottom: 15px;
      background: #EA5503;
      color: $cl-white;
    }
  }
  .section {
    .wrapper {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
    }
    &-inner {
      width: 72%;
    }
  }

  //記事リスト
  .articles {
    &-list {
      &-item {
        padding-bottom: 5px;
        margin-bottom: 10px;
      }
    }
    &-title {
      padding: 10px 20px;
      margin-bottom: 15px;
      border-bottom: #EA5503 1px solid;
      font-size: 1.8rem;
      color: #EA5503;
      font-weight: 600;
    }
    &-date {
      padding: 0 20px;
      font-size: 1.4rem;
      color: #EA5503;
      font-weight: bold;
      font-family: "Arial", sans-serif;
    }
    &-excerpt {
      margin-bottom: 15px;
      padding: 10px 20px;
      font-size: 1.4rem;
      font-weight: 400;
    }
    &-link {
      display: inline-block;
      float: right;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 28px;
        background: url(../cmn-img/common/arw_next.png) no-repeat, $cl-green;
        background-size: 6px auto, 100% 100%;
        background-position: right 10px center, 100% 100%;
        border-radius: 14px;
        font-size: 1.2rem;
        color: #fff;
        text-align: center;
      }
    }
  }

  //投稿内容
  .single {
    &-content {
      padding: 0 30px 70px;
      .date {
        margin-bottom: 10px;
        font-size: 1.4rem;
        color: #EA5503;
        font-weight: bold;
        font-family: "Arial", sans-serif;
      }
    }
  }

  //ページネーション
  .pagenation {
    padding-top: 20px;
    margin-bottom: 60px;
    border-top: #ccc 1px solid;
    &-post {
      display: flex;
      justify-content: space-between;
      .button {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
        }
        &-prev,
        &-next {
          a {
            width: 90px;
            background: #EA5503;
            font-size: 1.4rem;
            color: #fff;
          }
        }
        &-parent {
          a {
            width: 120px;
            border: #EA5503 1px solid;
            font-size: 1.4rem;
            color: #EA5503;
          }
        }
      }
    }
    &-category {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 4px;
          a,
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 30px;
            height: 30px;
            border: #EA5503 1px solid;
            padding: 0 2px;
            color: #EA5503;
          }
          .current {
            border-width: 0;
          }
          .next,
          .prev {
            box-sizing: border-box;
            padding-bottom: 2px;
            background: #EA5503;
            color: #fff;
          }
        }
      }
    }
  }
  //サイドバー
  .sidebar {
    width: calc(28% - 30px);
    &-title {
      width: 100%;
      border-bottom: #EA5503 2px solid;
      span {
        display: block;
        width: 50%;
        min-width: 134px;
        padding: 10px 20px;
        background: #EA5503;
        border-radius: 10px 10px 0 0;
        font-size: 1.6rem;
        color: #fff;
        font-weight: 800;
        text-align: center;
      }
    }
    &-inner {
      margin-bottom: 35px;
      border-bottom: #EA5503 2px solid;
    }
    .newpost,
    .category {
      &-list {
        &-item {
          padding: 20px 15px;
          font-size: 1.4rem;
          font-weight: 400;
          &:nth-child(even) {
            background: #FBF9F3;
          }
        }
      }
    }
    .archive {
      &-inner {
        padding: 10px 0;
        select {
          width: 100%;
          padding: 10px 15px;
          border: #ccc 1px solid;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
      &-box {
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: calc(50% - 5px);
          right: 10px;
          width: 0;
          height: 0;
          border-top: #ccc 10px solid;
          border-left: transparent 5px solid;
          border-right: transparent 5px solid;
        }
      }
    }
  }
  //ニュースページ
  &-news {
    #keyVisual{
      background: url(../cmn-img/news/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .category {
    #keyVisual {
      //カテゴリ毎のキービジュアルがない場合
      background: url(../cmn-img/news/sp/key_visual.png) no-repeat;
      //現状NEWS以外のカテゴリ想定ないのでNEWSと同じものを設定してあります
      background-size: cover;
      background-position: center;
    }
    .section {
      .wrapper {
        flex-direction: column;
      }
      &-inner {
        width: 100%;
      }
    }

    //記事リスト
    .articles {
      &-title {
        padding: 10px;
      }
      &-date {
        padding: 0;
        font-size: 1.6rem;
      }
      &-excerpt {
        padding: 10px 0;
      }
      &-link {
        display: inline-block;
        float: right;
        a {
          width: 166px;
          height: 40px;
          border-radius: 20px;
          font-size: 1.7rem;
        }
      }
    }

    //投稿内容
    .single {
      &-content {
        padding: 0 30px 70px;
        .date {
          margin-bottom: 10px;
          font-size: 1.4rem;
          color: #EA5503;
          font-weight: bold;
          font-family: "Arial", sans-serif;
        }
      }
    }

    //ページネーション
    .pagenation {
      padding-top: 20px;
      margin-bottom: 60px;
      border-top: #ccc 1px solid;
      &-post {
        display: flex;
        justify-content: space-between;
        .button {
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
          }
          &-prev,
          &-next {
            a {
              width: 90px;
              background: #EA5503;
              font-size: 1.4rem;
              color: #fff;
            }
          }
          &-parent {
            a {
              width: 120px;
              border: #EA5503 1px solid;
              font-size: 1.4rem;
              color: #EA5503;
            }
          }
        }
      }
      &-category {
        ul {
          li {
            margin: 5px;
            a,
            span {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
    //サイドバー
    .sidebar {
      width: 100%;
      &-title {
        span {
          width: 135px;
          margin-bottom: -1px;
        }
      }
    }
    //ニュースページ
    &-news {
      #keyVisual{
        background: url(../cmn-img/news/sp/key_visual.png) no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
    .footer_bnr {
      padding-top: 0;
    }
  }
}

//404 NOT FOUND
.notfound {
  #keyVisual {
    background: #ccc;
  }
  .sec01 {
    padding: 50px 0 70px;
    .wrapper {
      text-align: center;
    }
  }
  &-title {
    margin-bottom: 1em;
    font-size: 3rem;
  }
  &-text {
    font-size: 1.8rem;
  }
}
