.contact {
  #keyVisual{
    background: url(../cmn-img/contact/key_visual.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title_obi {
    margin-bottom: 25px;
    background: #EA5503;
    color: #fff;
  }
  .sec01,
  .sec02 {
    padding-top: 30px;
  }
  .sec02 {
    padding-bottom: 75px;
  }
  .holder {
    .box {
      background: #F7FFF7;
      border-radius: 8px;
      border: 2px solid $cl-green;
      padding: 20px 15px 15px;
      width: 48%;
      margin-bottom: 20px;
      float: left;
      &:nth-child(even){
        float: right;
      }
      p.title{
        color: #EA5503;
        font-weight: bold;
        font-size: 2.6rem;
        text-align: center;
        span{
          padding-left: 37px;
          position: relative;
          &::before{
            content: '';
            width: 34px;
            height: 29px;
            background: url(../cmn-img/common/ico-shop.png);
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      .phone {
        // width: 340px;
        display: flex;
        justify-content: center;
        margin: 10px auto 15px;
        a{
          display: inline-block;
          background: $cl-green;
          border-radius: 30px;
          color: $cl-white;
          text-align: center;
          position: relative;
          padding: 12px 10px 12px 55px;
          font-family: $ff-arial;
          font-size: 3.2rem;
          font-style: italic;
          font-weight: bold;
          letter-spacing: 0.1em;
          line-height: 1;
          &::before{
            content: '';
            width: 43px;
            height: 43px;
            background: url(../cmn-img/common/ico-phone.png);
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 7px;
            margin-top: -21.5px;
          }
        }
      }
    }
  }
  .form {
    @include form();
  }
  //jquery-timepicker
  .ui-timepicker-wrapper {
    width: 200px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contact {
    .holder {
      .box {
        .phone {
          a {
            padding: 15px 10px 15px 55px;
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    #keyVisual{
      background: url(../cmn-img/contact/sp/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
    }
    .holder {
      .box {
        width: 100%;
        p.title {
          font-size: 2rem;
          span{
            padding-left: 1.5em;
            &::before{
              content: '';
              width: 1.3em;
              height: calc(1.3em * .85);
            }
          }
        }
        .phone {
          // width: 260px;
          a{
            padding: 12px 10px 12px 45px;
            font-size: 2.2rem;
            &::before{
              width: 30px;
              height: 30px;
              top: calc(50% - 15px);
              left: 7px;
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

//ダウンロードクーポンページ一時表示用
.coupon {
  #keyVisual{
    background: url(../cmn-img/contact/key_visual.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  ol#breadcrumbs {
    margin-bottom: 40px;
  }
  .flex {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
  }
  #wrapper {
  	max-width: 980px;
    width: 100%;
    margin: auto;
  }
  .submit-btn {
    width: 350px;
    height: 85px;
    background-size: contain;
    margin: 0 auto;
    &-confirm {
      background: url(../cmn-img/contact/button_confirm.png) no-repeat;
      background-size: contain;
    }
    &-submit {
      background: url(../cmn-img/contact/button_submit.png) no-repeat;
      background-size: contain;
    }
    input {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 0;
      color: transparent;
    }
  }
}

@media screen and (max-width: 768px) {
  .coupon {
    #keyVisual{
      background: url(../cmn-img/contact/sp/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
