/*==============================
　　　　   今週のお得情報
===============================*/
/*========== PC ==========*/
body.deal{
  background: #F6FFF5;
  #keyVisual{
    background: url(../cmn-img/deal/key_visual.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  section{
    &.sec01{
      padding: 100px 0;
      .board{
        position: relative;
        background: $cl-white;
        border: 4px solid $cl-green;
        border-radius: 10px;
        .car01{
          position: absolute;
          top: -65px;
          left: 10px;
          width: 94px;
        }
        .car02{
          position: absolute;
          top: -44px;
          left: 150px;
          width: 100px;
        }
        .car03{
          position: absolute;
          top: -44px;
          right: 20px;
          width: 103px;
        }
        .box{
          padding-top: 80px;
          margin-top: -80px;
          .tit_area{
            padding: 20px 0;
            background: url(../cmn-img/deal/title_bg.png) repeat;
            background-size: 58px;
            .title_wrap01{
              h3.jp_tit{
                font-size: 3.2rem;
                font-weight: bold;
              }
            }
          }
          .chirashi_area{
            padding: 40px 50px 60px;
            .chirashi_box{
              width: 47.5%;
              float: left;
              position: relative;
              &:nth-child(even){
                float: right;
              }
              .btn{
                position: absolute;
                width: 188px;
                left: 50%;
                bottom: -20px;
                margin-left: -94px;
              }
            }
          }
        }
      }
    }
  }
}

/*======== TABLET ========*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/*========== SP ==========*/
@media (max-width: 768px) {
  body.deal{
    #keyVisual{
      background: url(../cmn-img/deal/sp/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
    }
    section{
      &.sec01{
        padding: 50px 0;
        .board{
          .car01{
            top: -53px;
            left: 0;
            width: 70px;
          }
          .car02{
            top: -35px;
            left: 100px;
            width: 80px;
          }
          .car03{
            top: -35px;
            right: 10px;
            width: 83px;
          }
          .box{
            .tit_area{
              .title_wrap01{
                h3.jp_tit{
                  font-size: 2.8rem;
                }
              }
            }
            .chirashi_area{
              padding: 20px;
              .chirashi_box{
                width: 100%;
                float: none;
                margin-bottom: 40px;
                &:nth-child(even){
                  float: none;
                }
                .btn{
                  position: absolute;
                  width: 140px;
                  left: 50%;
                  bottom: -20px;
                  margin-left: -70px;
                }
              }
            }
          }
        }
      }
    }
  }
}
