/*==============================
　　　　　ドリームの魅力
===============================*/
/*========== PC ==========*/
body.dream{
  #keyVisual{
    background: url(../cmn-img/dream/key_visual.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  section{
    &.top_txt{
      padding: 40px 0 60px;
      p{
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.8;
      }
    }
    &.sec01{
      padding: 80px 0;
      background: #F8F6EE;
      .title_wrap01{
        .jp_tit{
          width: 480px;
        }
        .en_tit{
          color: $cl-yellow_green;
          margin-top: 10px;
        }
      }
      .holder{
        display: flex;
        padding-top: 50px;
        position: relative;
        .point{
          margin-right: 50px;
          &:last-child{
            margin-right: 0;
          }
        }
        &::before{
          content: '';
          background: url(../cmn-img/dream/sec01_parts01.png);
          background-size: cover;
          width: 161px;
          height: 152px;
          position: absolute;
          left: 50px;
          top: 0;
          margin-top: -120px;
        }
        &::after{
          content: '';
          background: url(../cmn-img/dream/sec01_parts02.png);
          background-size: cover;
          width: 160px;
          height: 152px;
          position: absolute;
          right: 50px;
          top: 0;
          margin-top: -120px;
        }
      }
    }
    &.sec02{
      padding: 90px 0;
      background: url(../cmn-img/dream/sec02_bg.png) repeat;
      background-size: 32px;
      .title_wrap01{
        .jp_tit{
          width: 600px;
        }
        .en_tit{
          color: $cl-pink;
          margin-top: 10px;
        }
      }
      p.mintit{
        text-align: center;
        font-weight: bold;
        font-size: 2.4rem;
        padding-top: 40px;
      }
      .board{
        background: $cl-white;
        border: 5px solid $cl-pink;
        border-radius: 15px;
        width: 100%;
        display: flex;
        padding: 35px 45px;
        margin-top: 40px;
        position: relative;
        &::before,
        &::after {
          content: '';
          position: absolute;
        }
        &::before{
          background: url(../cmn-img/dream/sec02_people01.png) no-repeat;
          background-size: contain;
          background-position: bottom center;
          width: 166px;
          height: 192px;
          left: 30px;
          top: -197px;
        }
        &::after{
          background: url(../cmn-img/dream/sec02_parts01.png);
          background-size: cover;
          background-position: bottom center;
          width: 250px;
          height: 107px;
          right: 0;
          top: -60px;
        }
      }
    }
    &.sec03{
      padding: 80px 0;
      background: #F0F6FF;
      .title_wrap01{
        .jp_tit{
          width: 240px;
        }
        .en_tit{
          color: $cl-blue;
          margin-top: 10px;
        }
      }
      .txt_cont{
        padding-top: 40px;
        p{
          text-align: center;
          &.min{
            font-size: 1.2rem;
            padding-top: 30px;
          }
        }
      }
      .blue_box{
        background: $cl-blue;
        position: relative;
        color: $cl-white;
        padding: 30px 30px 40px;
        border-radius: 15px;
        margin-top: 100px;
        .title_wrap01{
          position: absolute;
          left: 50%;
          top: -50px;
          transform: translateX(-50%);
          background: $cl-blue;
          border-radius: 15px 15px 0 0;
          padding: 20px 60px 10px;
          .jp_tit{
            width: 186px;
          }
          .en_tit{
            color: $cl-white;
          }
        }
        .imgs{
          display: flex;
          position: relative;
          z-index: 10;
          padding-top: 20px;
        }
        .txt{
          font-size: 1.5rem;
          text-align: center;
          padding-top: 20px;
        }
        &::before{
          content: '';
          background: url(../cmn-img/dream/sec03_parts01.png);
          background-size: cover;
          width: 200px;
          height: 69px;
          position: absolute;
          left: 90px;
          top: -40px;
        }
      }
    }
    &.sec04{
      padding: 80px 0 50px;
      background: url(../cmn-img/dream/sec04_bg.png) repeat;
      background-size: 58px;
      .title_wrap01{
        position: relative;
        .jp_tit{
          width: 520px;
        }
        .en_tit{
          color: $cl-orange;
          margin-top: 10px;
        }
        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
        }
        &::before {
          left: 50px;
          bottom: -31px;
          width: 105px;
          height: 152px;
          background: url(../cmn-img/dream/sec04_people01.png) no-repeat;
          background-size: contain;
          background-position: bottom center;
        }
        &::after {
          right: 50px;
          bottom: -70px;
          width: 116px;
          height: 187px;
          background: url(../cmn-img/dream/sec04_people02.png) no-repeat;
          background-size: contain;
          background-position: bottom center;
        }
      }
      .holder{
        padding-bottom: 50px;
        .box{
          position: relative;
          background: $cl-white;
          width: 48%;
          float: left;
          margin-top: 70px;
          border-radius: 0 15px 15px 15px;
          padding: 15px 15px 30px;
          letter-spacing: 0.02em;
          font-weight: 600;
          &:nth-child(even){
            float: right;
          }
          &:nth-child(1){
            border: 4px solid $cl-yellow_green;
            &::after{
              content: '';
              background: url(../cmn-img/dream/sec04_parts01.png);
              background-size: cover;
              width:  91.5px;
              height: 37px;
              position: absolute;
              right: 100px;
              bottom: -22px;
            }
            .tab{
              background: $cl-yellow_green;
            }
            .tit{
              background: #EAF0BF;
            }
          }
          &:nth-child(2){
            border: 4px solid $cl-pink;
            &::after{
              content: '';
              background: url(../cmn-img/dream/sec04_parts02.png);
              background-size: cover;
              width: 101px;
              height: 41px;
              position: absolute;
              right: 110px;
              bottom: -23px;
            }
            .tab{
              background: $cl-pink;
            }
            .tit{
              background: #FFEDF8;
            }
          }
          &:nth-child(3){
            border: 4px solid $cl-orange;
            &::after{
              content: '';
              background: url(../cmn-img/dream/sec04_parts03.png);
              background-size: cover;
              width: 94.5px;
              height: 49px;
              position: absolute;
              left: 20px;
              bottom: -24px;
            }
            .tab{
              background: $cl-orange;
            }
            .tit{
              background: #FFDFBA;
            }
          }
          &:nth-child(4){
            border: 4px solid $cl-light_blue;
            &::after{
              content: '';
              background: url(../cmn-img/dream/sec04_parts04.png);
              background-size: cover;
              width: 103px;
              height: 53px;
              position: absolute;
              right: 15px;
              bottom: -10px;
            }
            .tab{
              background: $cl-light_blue;
            }
            .tit{
              background: #D6F3FF;
            }
          }
          .tab{
            position: absolute;
            top: -43px;
            left: -4px;
            padding: 10px 0 0;
            width: 150px;
            text-align: center;
            border-radius: 10px 10px 0 0;
            img{
              width: 100px;
            }
          }
          .tit{
            text-align: center;
            font-size: 2.2rem;
            font-weight: bold;
            padding: 10px 0 8px;
            margin-bottom: 20px;
            border-radius: 5px;
            position: relative;
            height: 82px;
            p{
              text-align: center;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
    &.stock_bnr{
      padding: 60px 0 0;
    }
  }
}

/*======== TABLET ========*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    &.dream {
      section {
        &.sec02 {
          .board {
            &::before {
              left: -20px;
              width: 15%;
            }
          }
        }
        &.sec04 {
          .title_wrap01 {
            .jp_tit {
              width: 73%;
            }
            &::before {
              left: 0;
              width: 15%;
            }
            &::after {
              right: 0;
              width: 15%;
            }
          }
        }
      }
    }
  }
}

/*========== SP ==========*/
@media (max-width: 768px) {
  body.dream{
    #keyVisual{
      background: url(../cmn-img/dream/sp/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
    }
    section{
      &.top_txt{
        padding: 10px 0 30px;
        p{
          text-align: center;
          font-size: 1.5rem;
          line-height: 1.6;
        }
      }
      &.sec01{
        padding: 40px 0;
        background: #F8F6EE;
        .title_wrap01{
          .jp_tit{
            width: 350px;
          }
        }
        .holder{
          padding-top: 20px;
          position: relative;
          display: block;
          .point{
            width: 70%;
            max-width: 220px;
            margin-right: 0;
            margin: 0 auto;
            &:last-child{
              margin: 0 auto;
            }
          }
          &::before{
            width: 80px;
            height: 75px;
            left: 0;
            top: -20px;
            margin-top: 0;
          }
          &::after{
            width: 80px;
            height: 75px;
            right: 0;
            top: -20px;
            margin-top: 0;
          }
        }
      }
      &.sec02{
        padding: 40px 0;
        .title_wrap01{
          .jp_tit{
            width: 270px;
          }
        }
        p.mintit{
          font-size: 1.8rem;
          padding-top: 15px;
        }
        .board{
          display: block;
          padding: 20px;
          margin-top: 55px;

          .maker_logo{
            display: inline-block;
            width: 48%;
          }
          &::before{
            background: url(../cmn-img/dream/sec02_people01.png);
            background-size: 100% auto;
            width: 99px;
            height: 97px;
            left: 0;
            top: -102px;
          }
          &::after{
            width: 177px;
            height: 76px;
            top: -50px;
          }
        }
      }
      &.sec03{
        padding: 40px 0;
        .title_wrap01{
          .jp_tit{
            width: 180px;
          }
        }
        .blue_box{
          padding: 20px 22px 40px 10px;
          margin-top: 80px;
          .title_wrap01{
            padding: 20px 30px 10px;
            .jp_tit{
              width: 144px;
            }
          }
          .imgs{
            display: block;
            padding-top: 0;
          }
          .txt{
            font-size: 1.4rem;
            padding-left: 10px;
          }
          &::before{
            content: none;
          }
        }
      }
      &.sec04{
        padding: 40px 0 20px;
        .title_wrap01{
          .jp_tit{
            width: 240px;
          }
          &::before,
          &::after {
            display: none;
          }
        }
        .holder{
          padding-bottom: 30px;
          .box{
            width: 100%;
            float: none;
            &:nth-child(even){
              float: none;
            }
            .tit{
              font-size: 2.0rem;
              padding: 10px 0 8px;
              margin-bottom: 20px;
              height: 82px;
            }
          }
        }
      }
      &.stock_bnr{
        padding: 35px 0 0;
      }
    }
  }
}
