/* --------------------
  INFORMATION
-------------------- */

.information {
  #keyVisual{
    background: url(../cmn-img/information/key_visual.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .store {
    &-list {
      &-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 75px;
      }
      &-inner {
        width: calc(100% - 468px);
        margin-bottom: 20px;
        .add {
          margin: 0 20px 5px 0;
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
      &-pic {
        width: 448px;
      }
      &-title {
        display: flex;
        align-items: baseline;
        margin-bottom: 10px;
        font-size: 2.8rem;
        font-weight: 600;
        span {
          display: flex;
        }
        .insta,
        .fb {
          display: block;
          width: 30px;
          margin-left: 12px;
          height: auto;
          img {
            vertical-align: middle;
          }
        }
      }
    }
    .info {
      padding: 18px 18px 15px;
      background: #eee;
      .inner {
        margin-bottom: 15px;
        &-title {
          clear: both;
          float: left;
          width: 100px;
          height: 20px;
          margin: 0 15px 5px 0;
          background: #EA5503;
          font-size: 1.2rem;
          color: #fff;
          text-align: center;
          line-height: 20px;
        }
        &-item {
          margin-bottom: 5px;
          font-size: 1.4rem;
        }
      }
      .detail {
        display: flex;
        &-item {width: 70px;
          margin-right: 5px;
        }
      }
    }
    .map {
      width: 100%;
      height: 345px;
      margin-bottom: 20px;
    }
    .link {
      width: 52%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .information {
    .store {
      &-list {
        &-pic {
          width: calc(45% - 20px);
        }
        &-inner {
          width: 55%;
        }
        &-title {
          font-size: 2.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .information {
    #keyVisual{
      background: url(../cmn-img/information/sp/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
    }
    .store {
      &-list {
        &-item {
          flex-direction: column;
          margin-bottom: 50px;
        }
        &-inner {
          width: 100%;
          .add {
            margin: 0 auto 15px;
          }
        }
        &-pic {
          width: 100%;
          margin-bottom: 20px;
        }
        &-title {
          justify-content: space-between;
          font-size: 2.6rem;
        }
      }
      .info {
        padding: 20px 10px;
      }
      .map {
        margin-bottom: 20px;
      }
      .link {
        width: 100%;
      }
    }
  }
}
