.privacypolicy {
  #keyVisual{
    background: url(../cmn-img/privacypolicy/key_visual.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  section {
    .title_obi {
      margin-bottom: 20px;
      background: #EA5503;
      color: $cl-white;
    }
  }
  .sec01 {
    .privacy {
      &-list {
        &-item {
          li {
            margin-left: 1em;
            text-indent: -1em;
          }
        }
      }
    }
  }
  .privacy {
    padding-top: 30px;
    &-list {
      padding: 25px 5% 30px;
      margin-bottom: 40px;
      background: #FBF9F3;
      border: #EA5503 1px solid;
      &-item {
        margin-bottom: 15px;
        &:not(:last-child) {
          border-bottom: #C4C4C4 2px dotted;
        }
        ul, ol {
          margin-bottom: 15px;
          // padding-left: 1em;
        }

        li, p {
          line-height: 1.7;
        }
        .title {
          padding-top: 15px;
          margin-bottom: 10px;
          font-size: 2rem;
          color: #EA5503;
          font-weight: 700;
        }
        .text {
          margin-bottom: 15px;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .pl {
          padding-left: 1em;
          margin-bottom: 15px;
        }
        .indent {
          margin-left: 1em;
          text-indent: -1em;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .privacypolicy {
    #keyVisual{
      background: url(../cmn-img/privacypolicy/sp/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
    }
    .privacy {
      &-list {
        padding: 20px 5% 30px;
        &-item {
          .title {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
