.reservation {
  #keyVisual{
    background: url(../cmn-img/reservation/key_visual.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title_obi {
    margin-bottom: 25px;
    background: #EA5503;
    color: #fff;
  }
  .sec01,
  .sec02 {
    padding-top: 30px;
  }
  .sec02 {
    padding-bottom: 75px;
  }
  .holder {
    .box {
      background: #F7FFF7;
      border-radius: 8px;
      border: 2px solid $cl-green;
      padding: 20px 15px 15px;
      width: 48%;
      margin-bottom: 20px;
      float: left;
      &:nth-child(even){
        float: right;
      }
      p.title{
        color: #EA5503;
        font-weight: bold;
        font-size: 2.6rem;
        text-align: center;
        span{
          padding-left: 37px;
          position: relative;
          &::before{
            content: '';
            width: 34px;
            height: 29px;
            background: url(../cmn-img/common/ico-shop.png);
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      .phone{
        width: 340px;
        margin: 10px auto 15px;
        a{
          display: block;
          background: $cl-green;
          border-radius: 30px;
          color: $cl-white;
          width: 100%;
          text-align: center;
          position: relative;
          padding: 12px 0 12px 20px;
          font-family: $ff-arial;
          font-size: 3.2rem;
          font-style: italic;
          font-weight: bold;
          letter-spacing: 0.1em;
          line-height: 1;
          &::before{
            content: '';
            width: 43px;
            height: 43px;
            background: url(../cmn-img/common/ico-phone.png);
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 7px;
            margin-top: -21.5px;
          }
        }
      }
    }
  }
  .form {
    @include form();
  }
}

@media screen and (max-width: 768px) {
  .reservation {
    #keyVisual{
      background: url(../cmn-img/reservation/sp/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
