/*==============================
　　     Dreamのサービス
===============================*/
body.service {
  .service .button{
    display: none;
  }
  /*=== サービストップ ===*/
  &.index {
    background: #F8F6EE;
    #keyVisual{
      background: url(../cmn-img/service/index/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
    }
    section{
      &.sec01{
        padding: 80px 0 90px;
        .top_txt{
          .img{
            width: 636px;
            margin: 0 auto;
          }
          p.txt{
            font-size: 1.7rem;
            text-align: center;
            padding: 30px 0 40px;
            line-height: 1.8;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &.index {
      #keyVisual{
        background: url(../cmn-img/service/index/sp/key_visual.png) no-repeat;
        background-size: cover;
        background-position: center;
      }
      section{
        &.sec01{
          padding: 40px 0;
          .top_txt{
            .img{
              width: 350px;
            }
            p.txt{
              font-size: 1.6rem;
              padding: 30px 0;
            }
          }
        }
      }
    }
  }


  /*=== 未使用車販売 ===*/
  &.unused{
    #keyVisual{
      background: url(../cmn-img/service/unused/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
      h2.page_title {
        span.en {
          background: $cl-green;
          color: $cl-white;
        }
      }
    }
    section{
      .title_obi{
        background: $cl-green;
        color: $cl-white;
        span{
          color: $cl-yellow;
        }
      }
      &.sec01 {
        padding: 70px 0 60px;
        .top_txt{
          position: relative;
          &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
            width: 131px;
            height: 211px;
            background: url(../cmn-img/service/unused/sec01_people01.png) no-repeat;
            background-size: contain;
            background-position: bottom center;
          }
          .img{
            width: 710px;
            margin: 0 auto;
          }
          p.txt{
            font-size: 1.7rem;
            text-align: center;
            padding: 20px 0 40px;
            line-height: 1.8;
          }
        }
        .color_board01{
          ul{
            li{
              display: flex;
              border-bottom: 1px dashed #C4C4C4;
              padding: 10px 0;
              .number{
                width: 76px;
                margin-right: 12px;
              }
              .txtbox{
                width: 810px;
                p{
                  &.tit{
                    font-size: 2.2rem;
                    color: $cl-green;
                    font-weight: bold;
                  }
                  &.txt{
                    font-size: 1.5rem;
                  }
                }
              }
              &:last-child{
                padding-bottom: 0;
                border-bottom: none;
              }
            }
          }
        }
      }
      &.sec02{
        padding-bottom: 60px;
      }
      &.sec03{
        .car_img{
          position: relative;
          width: 100%;
          padding: 0 calc((100% - 450px) /2);
          margin: 0 auto;
          &::before,
          &::after {
            content: '';
            display: block;
            position: absolute;
          }
          &::before {
            left: 30px;
            bottom: -30px;
            width: 160px;
            height: 323px;
            background: url(../cmn-img/service/unused/sec03_people01.png) no-repeat;
            background-size: contain;
            background-position: bottom center;
          }
          &::after {
            right: 30px;
            bottom: -30px;
            width: 135px;
            height: 312px;
            background: url(../cmn-img/service/unused/sec03_people02.png) no-repeat;
            background-size: contain;
            background-position: bottom center;
          }
        }
        .list_content{
          p.title{
            text-align: center;
            color: $cl-green;
            font-weight: bold;
            font-size: 2.8rem;
            span{
              position: relative;
              padding: 0 30px;
              &::before{
                content: '';
                background: url(../cmn-img/service/unused/sec03_tit_parts01.png) no-repeat;
                background-size: cover;
                width: 23px;
                height: 38px;
                position: absolute;
                top: -5px;
                left: 0;
              }
              &::after{
                content: '';
                background: url(../cmn-img/service/unused/sec03_tit_parts02.png) no-repeat;
                background-size: cover;
                width: 23px;
                height: 38px;
                position: absolute;
                top: -5px;
                right: 0;
              }
            }
          }
          table{
            border-radius: 20px;
            overflow: hidden;
            border: 1px solid $cl-green;
            text-align: center;
            width: 100%;
            line-height: 1.2;
            border-collapse: separate;
            border-spacing: 0;
            margin-top: 10px;
            tr{
              th{
                &.type01{
                  color: $cl-green;
                  padding: 20px 0;
                  background: #E4F8E4;
                  font-size: 2.2rem;
                  border-bottom: 1px solid $cl-green;
                }
                &.type02{
                  background: $cl-green;
                  color: $cl-white;
                  padding: 20px 0;
                  font-size: 2.2rem;
                  border-right: 1px solid #E6E6E6;
                  &:last-child{
                    border-right: none;
                  }
                }
                &.type03{
                  background: #E4F8E4;
                  width: 20%;
                  border-bottom: 1px solid $cl-green;
                  border-right: 1px solid $cl-green;
                  color: $cl-green;
                }
              }
              td{
                padding: 10px 0;
                width: 25%;
                border-bottom: 1px solid #E6E6E6;
                border-right: 1px solid #E6E6E6;
                font-size: 1.5rem;
                line-height: 1.2;
                span{
                  font-size: 1.1rem;
                }
                img{
                  width: 60%;
                  margin: 0 auto;
                  padding: 7px 0 3px;
                }
              }
              &.even{
                td{
                  background: #EEEEEE;
                }
              }
              &.last{
                th{
                  border-bottom: none;
                  font-size: 2.6rem;
                }
                td{
                  background: $cl-green;
                  border-bottom: none;
                  &.img01{
                    position: relative;
                    padding-right: 10px;
                    &::after{
                      content: '';
                      background: url(../cmn-img/service/unused/ico-arrow.png) no-repeat;
                      background-size: cover;
                      width: 34px;
                      height: 16px;
                      position: absolute;
                      top: 50%;
                      right: 15px;
                      margin-top: -8px;
                    }
                  }
                  &:last-child{
                    border-right: none;
                  }
                }
              }
            }
          }
        }
      }
      &.stock_bnr{
        padding: 90px 0;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    &.unused {
      section{
        &.sec01 {
          .top_txt {
            &::before {
              right: -15px;
              width: 13%;
            }
          }
        }
        &.sec03{
          .car_img {
            &::before {
              left: 0;
              bottom: -30px;
              width: 112px;
              height: 226px;

            }
            &::after {
              right: 0;
              width: 94px;
              height: 218px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &.unused{
      #keyVisual{
        background: url(../cmn-img/service/unused/sp/key_visual.png) no-repeat;
        background-size: cover;
        background-position: center;
      }
      section{
        &.sec01{
          padding: 30px 0 40px;
          .top_txt{
            .img{
              width: 350px;
            }
            &::before {
              display: none;
            }
            p.txt{
              font-size: 1.6rem;
              padding: 20px 0 40px;
            }
          }
          .color_board01{
            ul{
              li{
                padding: 10px 0;
                .number{
                  width: 63px;
                  margin-right: 10px;
                }
                .txtbox{
                  width : calc(100% - 70px) ;
                  p{
                    &.tit{
                      font-size: 1.8rem;
                    }
                    &.txt{
                      font-size: 1.4rem;
                    }
                  }
                }
              }
            }
          }
        }
        &.sec02{
          padding-bottom: 40px;
        }
        &.sec03{
          .car_img{
            width: 80%;
            max-width: 350px;
            &::before,
            &::after {
              display: none;
            }
          }
          .list_content{
            p.title{
              font-size: 1.7rem;
              span{
                position: relative;
                padding: 0 20px;
                &::before{
                  width: 15px;
                  height: 25px;
                  position: absolute;
                  top: -5px;
                  left: 0;
                }
                &::after{
                  width: 15px;
                  height: 25px;
                  position: absolute;
                  top: -5px;
                  right: 0;
                }
              }
            }
            .table_holder{
              overflow: auto;
              white-space: nowrap;
              &::-webkit-scrollbar{
                height: 8px;
                margin-top: 10px;
              }
              &::-webkit-scrollbar-track{
                background: #E4F8E4;
              }
              &::-webkit-scrollbar-thumb{
                background: $cl-green;
              }
              table{
                width: 100%;
                margin-bottom: 10px;
                tr{
                  th{
                    font-size: 1.4rem;
                    &.type01{
                      padding: 15px 10px;
                      font-size: 1.8rem;
                    }
                    &.type02{
                      padding: 15px 10px;
                      font-size: 1.8rem;
                    }
                    &.type03{
                      width: 25%;
                    }
                  }
                  td{
                    width: 25%;
                    font-size: 1.4rem;
                    padding: 10px;
                    span{
                      font-size: 1.0rem;
                    }
                    img{
                      width: 80%;
                      padding: 7px 0 3px;
                    }
                  }
                  &.last{
                    th{
                      font-size: 1.8rem;
                    }
                    td{
                      &.img01{
                        padding-right: 20px;
                        img{
                          width: 70%;
                        }
                        &::after{
                          width: 28px;
                          height: 12px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.stock_bnr{
          padding: 40px 0;
        }
      }
    }
  }

  /*=== フラット７ ===*/
  &.flatseven {
    #keyVisual{
      background: url(../cmn-img/service/flatseven/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
      h2.page_title {
        span.en {
          background: $cl-blue;
          color: $cl-white;
        }
      }
    }
    section {
      .title_obi {
        display: flex;
        width: 100%;
        padding: 0;
        margin-bottom: 45px;
        dt {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 7px 35px 8px;
          background: $cl-yellow;
          border-radius: 30px 0 0 30px;
          img {
            width: 114px;
          }
          h3 {
            font-size: 2.8rem;
          }
        }
        dd {
          display: flex;
          align-items: center;
          flex-grow: 1;
          padding: 7px 0 8px 40px;
          background: $cl-blue;
          border-radius: 0 30px 30px 0;
          color: $cl-white;
            em {
              color: $cl-yellow;
              font-style: normal;
             small {
               font-size: 1.8rem;
             }
           }
        }
      }
      .lead {
        margin-bottom: 35px;
        font-size: 2.4rem;
        color: $cl-blue;
        font-weight: 700;
        text-align: center;
        .small {
          font-size: 1.8rem;
        }
      }
      &.sec01 {
        padding: 70px 0 60px;
        .top_txt {
          .img {
            width: 425px;
            margin: 0 auto 30px;
          }
        }
        .point {
          &-list {
            &-item {
              .txt {
                padding: 0 5%;
                margin-bottom: 50px;
                font-size: 1.6rem;
                font-weight: 600;
              }
              &.point01 {
                .pic {
                  box-sizing: border-box;
                  width: 94%;
                  padding-left: 6%;
                  margin: 0 auto 45px;
                }
              }
              &.point02 {
                padding-bottom: 25px;
                .list {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  padding: 0 7%;
                  margin-bottom: 25px;
                  &-item {
                    width: 25%;
                    padding: 0 7.5px;
                  }
                }
              }
              &.point03 {
              }
              &.point04 {
                padding-bottom: 30px;
                .list {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  width: 90%;
                  margin: 0 auto;
                  &-item {
                    width: calc((100% - 20px) / 2);
                    margin-bottom: 20px;
                    img {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        .comparison {
          display: flex;
          justify-content: space-between;
          margin-bottom: 50px;
          &-inner {
            width: calc((100% - 20px) / 2);
            border: $cl-blue 2px solid;
          }
          &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            min-width: 10em;
            height: 45px;
            margin: -22.5px auto 0;
            background: $cl-yellow;
            border-radius: 22.5px;
            font-size: 2.4rem;
            font-weight: 800;
            color: $cl-blue;
          }
          &-pic {
            padding: 25px 8%;
          }
        }
        .pack {
          &-title {
            padding: .3em 0;
            margin-bottom: 25px;
            background: $cl-blue;
            font-size: 2.4rem;
            color: $cl-white;
            font-weight: 700;
            text-align: center;
          }
          &-txt {
            font-size: 1.6rem;
            font-weight: 600;
            text-align: center;
          }
          &-inner {
            padding: 30px 5%;
            margin-bottom: 30px;
            background: #EBF2FA;
            border: $cl-blue 1px solid;
            .list {
              display: flex;
              justify-content: space-between;
              padding-top: 25px;
              &-item {
                width: calc((100% - 60px) / 5);
              }
            }
          }
          .plan {
            &-inner {
              padding: 35px;
              margin-top: 25px;
              background: $cl-white;
              border: $cl-red 5px solid;
              border-radius: 20px;
              &:nth-of-type(1) {
                position: relative;
                margin-bottom: 70px;
                &::after {
                  content: '+';
                  display: block;
                  position: absolute;
                  left: 0;
                  bottom: -87.5px;
                  width: 100%;
                  font-size: 8rem;
                  color: $cl-red;
                  font-weight: 800;
                  text-align: center;
                }
              }
            }
            &-title {
              padding: .2em 0;
              margin-bottom: 40px;
              background: $cl-red;
              border-radius: 25px;
              font-size: 3rem;
              color: $cl-white;
              text-align: center;
              font-weight: 600;
            }
            &-detail {
              .text {
                color: $cl-red;
                font-size: 2rem;
                text-align: center;
                font-weight: 700;
              }
              &-box {
                display: flex;
                align-items: center;
                width: 86.7469%;
                margin: 0 auto;
              }
              .price {
                margin-right: 25px;
                font-size: 3.1rem;
                color: $cl-red;
                font-weight: 600;
                letter-spacing: -.05em;
                em {
                  font-size: 8rem;
                  font-style: normal;
                  font-family: 'Arial', sans-serif;
                }
                span {
                  font-size: 2rem;
                  // font-family: 'Arial', sans-serif;
                }
              }
              .detail-list {
                display: flex;
                flex-wrap: wrap;
                width: 256px;
                padding: 10px 0 10px 30px;
                background: #eee;
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.2;
                &-item {
                  display: inline;
                }
              }
            }
            .line {
              height: 40px;
              margin-bottom: 30px;
              border: $cl-red 2px solid;
              border-radius: 20px;
              font-size: 2.4rem;
              color: $cl-red;
              font-weight: 600;
              text-align: center;
              span {
                font-size: 2rem;
              }
            }
            .table {
              width: 100%;
              margin-bottom: 10px;
              border-collapse: collapse;
              tr {
                &:nth-of-type(odd) {
                  th:nth-of-type(1) {
                    background: #EEE;
                  }
                  td:nth-of-type(1) {
                    background: #EEE;
                  }
                }
                &:nth-of-type(even) {
                  th:nth-of-type(2) {
                    background: #EEE;
                  }
                  td:nth-of-type(2) {
                    background: #EEE;
                  }
                }
              }
              th,td {
                padding: 15px 25px;
                border: #999 2px solid;
              }
              td {
                text-align: right;
              }
            }
            .note {
              margin-bottom: 30px;
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
        }
      }

      &.sec02 {
        padding-bottom: 30px;
        .section {
          &-title {
            width: 55.5%;
            margin: 0 auto 35px;
          }
        }
        .note {
          &-list {
            &-item {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.8;
            }
          }
        }
        .type {
          &-title {
            display: flex;
            justify-content: space-between;
            flex-basis: auto;
            position: relative;
            width: 100%;
            margin-bottom: 25px;
            &::after {
              content: '';
              display: block;
              position: absolute;
              left: calc(50% - 10px);
              bottom: - 20px;
              width: 0;
              height: 0;
              border-top: $cl-red 20px solid;
              border-left: transparent 10px solid;
              border-right: transparent 10px solid;
            }
            .downpay,
            .bonus {
              height: 100px;
              font-size: 1.8rem;
              font-weight: 700;
              color: $cl-white;
              text-align: center;
              line-height: 1;
              white-space: nowrap;
              span {
                font-size: 4rem;
                font-family: 'Arial', sans-serif;
                font-weight: bold;
              }
              small {
                font-size: 2rem;
                font-weight: 700;
              }
            }
            .bonus,
            .month {
              position: relative;
              &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
              }
            }
            .downpay {
              padding: 20px 25px 20px 50px;
              background: $cl-red;
            }
            .bonus {
              padding: 20px 0 20px 60px;
              background: $cl-blue;
              &::before {
                top: 0;
                left: 0;
                border-top: $cl-red 50px solid;
                border-left: $cl-red 30px solid;
                border-right: $cl-blue 30px solid;
                border-bottom: $cl-blue 50px solid;
              }
            }
            .month {
              display: flex;
              align-items: flex-end;
              flex-grow: 1;
              height: 100px;
              padding: 25px 15px 15px 55px;
              border: $cl-red 2px solid;
              &::before {
                top: -2px;
                left: -2px;
                border-top: $cl-blue 50px solid;
                border-left: $cl-blue 30px solid;
                border-right: transparent 30px solid;
                border-bottom: transparent 50px solid;
              }
              &-text {
                display: flex;
                align-items: center;
                min-height: 45px;
                padding: .5em 1em;
                margin-right: 15px;
                background: $cl-red;
                border-radius: 22.5px;
                font-size: 1.6rem;
                color: $cl-white;
                font-weight: 700;
              }
              &-inner {
                font-size: 2.4rem;
                color: $cl-red;
                font-weight: 700;
                white-space: nowrap;
                em {
                  font-size: 6rem;
                  font-style: normal;
                  font-family: 'Arial', sans-serif;
                  letter-spacing: -.03em;
                  line-height: 1;
                }
                small {
                  font-size: 1.8rem;
                }
              }
            }
          }
          .slider {
            margin-bottom: 35px;
            &-list {
              width: 100%;
              padding: 0 4.5%;
              &-item {
                display: flex;
                flex-direction: column;
                // justify-content: space-around;
                padding: 10px;
                margin: 0 10px 1px;
                border: #666 1px solid;
                .pic {
                  margin-bottom: 20px;
                }
                .name {
                  margin-bottom: .4em;
                  text-align: center;
                  font-size: 1.8rem;
                  font-weight: 600;
                }
                table {
                  display: flex;
                  flex-grow: 1;
                  width: 90%;
                  margin: 0 auto;
                  tr {
                    width: 100%;
                  }
                  th, td {
                    vertical-align: baseline;
                    padding-bottom: .4em;
                    font-size: 1.5rem;
                    font-weight: 600;
                  }
                  th {
                    padding-right: .7em;
                    white-space: nowrap;
                  }
                  td {
                    line-height: 1.2;
                    span {
                      white-space: nowrap;
                    }
                  }
                }
                .price {
                  text-align: center;
                  font-size: 2rem;
                  color: $cl-red;
                  font-weight: 700;
                  em {
                    font-size: 3.6rem;
                    font-style: normal;
                    font-family: 'Arial', sans-serif;
                    font-weight: bold;
                    letter-spacing: -.03em;
                  }
                  small {
                    font-size: 1.4rem;
                    font-weight: 700;
                  }
                }
              }
            }
            .slick {
              &-list,
              &-track {
                display: flex;
                align-items: stretch;
              }
              &-arrow {
                height: 80px;
                width: 25px;
                background: #ccc;
              }
              &-prev,
              &-next {
                &::before,
                &::after {
                  content: none;
                }
              }
              &-prev {
                left: 0;
                background: url(../cmn-img/common/arw_prev.png) no-repeat, #ccc;
                background-size: auto 20px, 100% 100%;
                background-position: center center;
              }
              &-next {
                right: 0;
                background: url(../cmn-img/common/arw_next.png) no-repeat, #ccc;
                background-size: auto 20px, 100% 100%;
                background-position: center center;
              }
            }
          }
        }
      }

      &.sec03 {
        padding: 70px 0 60px;
        background: #eee;
        .section {
          &-title {
            width: 30%;
            margin: 0 auto 35px;
          }
        }
        .faq {
          &-q,
          &-a {
            position: relative;
            padding-left: 90px;
          }
          &-q {
            padding: 10px 60px 10px 70px;
            margin-bottom: 5px;
            background: url(../cmn-img/service/flatseven/sec03_faq_q.png) no-repeat, #EBF2FA;
            background-size: 30px auto, 100% 100%;
            background-position: 25px 8px, center center;
            border: $cl-blue 2px solid;
            font-size: 2rem;
            color: $cl-blue;
            font-weight: 600;
            &::before,
            &::after {
              content: '';
              display: block;
              position: absolute;
              top: calc(50% - 2px);
              right: 30px;
              width: 18px;
              height: 4px;
              background: $cl-blue;
              transition: all .3s;
            }
            &::after {
              transform: rotate(90deg);
            }
            &.is-active::after {
              transform: rotate(0deg);
            }
          }
          &-a {
            height: 0;
            padding: 0 0 0 90px;
            overflow: hidden;
            margin-bottom: 10px;
            background: #fff;
            background: url(../cmn-img/service/flatseven/sec03_faq_a.png) no-repeat, #fff;
            background-size: 30px auto, 100% 100%;
            background-position: 25px 8px, center center;
            font-size: 1.4rem;
            font-weight: 600;
            transition: all .3s;
            &.is-active {
              height: auto;
              padding: 15px 0 15px 90px;
            }
          }
        }
      }

      &.sec04 {
        padding: 70px 0 75px;
        .section {
        }
        .handling {
          @include handling($cl-blue);
          &-list {
            &-item {
              .logo {
                img {
                  width: auto;
                  height: 48px;
                }
              }
            }
          }
        }
      }
    }
  }
  //tablet
  @media screen and (min-width: 769px) and (max-width: 1185px) {
    &.flatseven {
      section.sec01 {
        padding-top: 40px;
        .pack {
          .plan {
            &-detail {
              .price {
                margin-right: 15px;
              }
              .detail {
                &-list {
                padding: 10px 0 10px 10px;
                }
              }
              &-box {
                width: 100%;
              }
              .price {
                em {
                  font-size: 7rem;
                  letter-spacing: -.03;
                }
              }
            }
            .table {
              th, td {
                padding: 15px 10px;
              }
            }
          }
        }
      }

      section.sec02 {

        .type {
          &-title {
            .downpay {
              padding: 20px 15px 20px 30px;
            }
            .bonus {
              padding-left: 40px;
              &::before {
                border-left: #E60012 20px solid;
                border-right: #003686 20px solid;
              }
              span {
                font-size: 3.4rem;
              }
            }
            .month {
              flex-wrap: wrap;
              padding: 5px 5px 5px 35px;
              &::before {
                border-left: #003686 20px solid;
                border-right: transparent 20px solid;
              }
              &-text {
                margin-right: 80px;
                min-height: inherit;
                font-size: 1.2rem;
              }
            }
          }
          .slider {
          }
        }
      }
    }
  }
  //sp
  @media screen and (max-width: 768px) {
    &.flatseven {
      #keyVisual{
        background: url(../cmn-img/service/flatseven/sp/key_visual.png) no-repeat;
        background-size: cover;
        background-position: center;
      }
      section{
        .title_obi {
          margin-bottom: 20px;
          dt {
            padding: 14px 8px 14px 25px;
            border-radius: 40px 0 0 40px;
            img {
              width: 100%;
              max-width: 50px;
            }
          }
          dd {
            padding: 10px;
            border-radius: 0 40px 40px 0;
            h3 {
              font-size: 2rem;
            }
            small {
              font-size: 1.2rem;
            }
          }
        }
        .lead {
          font-size: 2rem;
        }
        &.sec01 {
          padding: 40px 0 0;
          .top_txt {
            .img {
              width: 100%;
            }
          }
          .point {
            &-list {
              &-item {
                .txt {
                  margin-bottom: 20px;
                  font-size: 1.5rem;
                  font-weight: 600;
                  line-height: 1.7;
                }
                &.point01 {
                  .pic {
                    padding: 0;
                  }
                  .txt {
                    margin-bottom: 50px;
                  }
                }
                &.point02 {
                  .list {
                    padding: 0;

                    &-item {
                      width: 33.3333%;
                      padding: 0 5px;
                    }
                  }
                }
                &.point03 {
                }
                &.point04 {
                  .list {
                    &-item {
                      width: 100%;
                      img {
                      }
                    }
                  }
                }
              }
            }
          }
          .lead {
            font-size: 1.5rem;
          }
          .comparison {
            flex-direction: column;
            margin-bottom: 10px;
            &-inner {
              width: 100%;
              margin-bottom: 40px;
            }
            &-title {
              font-size: 1.7rem;
            }
            &-pic {
            }
          }
          .pack {
            &-title {
              font-size: 2rem;
            }
            &-txt {
              font-size: 1.4rem;
              text-align: left;
            }
            &-inner {
              padding: 20px 5%;
              .list {
                flex-wrap: wrap;
                justify-content: center;
                &-item {
                  width: calc(100% / 3);
                  padding: 0 7.5px;
                  margin-bottom: 15px;
                }
              }
            }
            .plan {
              &-inner {
                padding: 10px;
                &:nth-of-type(1) {
                  margin-bottom: 50px;
                  &::after {
                    bottom: -55px;
                    font-size: 4.5rem;
                  }
                }
              }
              &-title {
                margin-bottom: 15px;
                font-size: 1.5rem;
              }
              &-detail {
                .text {
                  font-size: 1.5rem;
                }
                &-box {
                  flex-direction: column;
                }
                .price {
                  margin-right: 0;
                  font-size: 1.8rem;
                  em {
                    font-size: 4.5rem;
                  }
                  span {
                    font-size: 1.2rem;
                  }
                }
                .detail-list {
                  width: 100%;
                  padding: 10px calc((100% - 150px ) / 2);
                  margin-bottom: 10px;
                  font-size: 1.2rem;
                  &-item {
                    max-width: 150px;
                    white-space: nowrap;
                  }
                }
              }
              .line {
                margin-bottom: 15px;
                span {
                }
              }
              .table {
                border-bottom: #999 2px solid;
                tr {
                  display: flex;
                  flex-wrap: wrap;
                  &:nth-of-type(odd) {
                    th:nth-of-type(1) {
                      background: inherit;
                    }
                    td:nth-of-type(1) {
                      background: inherit;
                    }
                  }
                  &:nth-of-type(even) {
                    th:nth-of-type(2) {
                      background: inherit;
                    }
                    td:nth-of-type(2) {
                      background: inherit;
                    }
                  }
                  &:nth-of-type(odd),
                  &:nth-of-type(even) {
                    th,td {
                      &:nth-of-type(1) {
                        background: #eee;
                      }
                      &:nth-of-type(2) {
                        background: #fff;
                      }
                    }
                  }
                }
                th,td {
                  border-bottom-width: 0;
                  font-size: 1.2rem;
                }
                th {
                  width: 77.0491%;
                  border-right-width: 0;
                }
                td {
                  width: 22.9508%;
                }
              }
              .note {
                font-weight: 300;
              }
            }
          }
        }

        &.sec02 {
          padding-bottom: 50px;
          .section {
            &-title {
              width: 100%;
              margin-bottom: 20px;
            }
          }
          .type {
            &-title {
              margin-bottom: 15px;
              &::after {
                left: calc(50% - 5px);
                bottom: -10px;
                border-top: $cl-red 10px solid;
                border-left: transparent 5px solid;
                border-right: transparent 5px solid;
              }
              .downpay,
              .bonus {
                height: 65px;
                font-size: 1.1rem;
                span {
                  font-size: 1.9rem;
                }
                small {
                  font-size: 1.1rem;
                }
              }
              .downpay {
                padding: 20px 15px 20px 25px;
              }
              .bonus {
                padding: 20px 0 20px 30px;
                &::before {
                  border-top: $cl-red 32.5px solid;
                  border-left: $cl-red 20px solid;
                  border-right: $cl-blue 20px solid;
                  border-bottom: $cl-blue 32.5px solid;
                }
              }
              .month {
                flex-wrap: wrap;
                justify-content: flex-end;
                height: 65px;
                padding: 5px 5px 5px 20px;
                &::before {
                  top: -2px;
                  left: -2px;
                  border-top: $cl-blue 32.5px solid;
                  border-left: $cl-blue 20px solid;
                  border-right: transparent 20px solid;
                  border-bottom: transparent 32.5px solid;
                }
                &-text {
                  min-width: 145px;
                  min-height: 20px;
                  margin-right: 1em;
                  font-size: 1rem;
                }
                &-inner {
                  font-size: 1.2rem;
                  em {
                    font-size: 3.2rem;
                  }
                  small {
                    font-size: .9rem;
                  }
                }

              }
            }
            .slider {
              margin-bottom: 15px;
              &-list {
                padding: 0 15px;
                &-item {
                  .name {
                    font-size: 1.3rem;
                  }
                  table {
                    th, td {
                      font-size: 1rem;
                    }
                    td {
                      font-weight: 300;
                    }
                  }
                  .price {
                    font-size: 1.1rem;
                    em {
                      font-size: 2.2rem;
                    }
                    small {
                      font-size: .9rem;
                    }
                  }
                }
              }
              .slick {
                &-arrow {
                  height: 40px;
                  width: 12px;
                }
                &-prev {
                  background-size: auto 10px, 100% 100%;
                }
                &-next {
                  right: 0;
                  background-size: auto 10px, 100% 100%;
                }
              }
            }
          }
          .lead {
            padding-top: .5em;
            font-size: 1.6rem;
            font-weight: 700;
          }
          .note {
            &-list {
              &-item {
                font-size: 1.2rem;
                width: 500;
              }
            }
          }
        }

        &.sec03 {
          padding: 30px 0;
          background: #eee;
          .section {
            &-title {
              width: 50%;
              margin: 0 auto 20px;
            }
          }
          .faq {
            &-q,
            &-a {
              position: relative;
            }
            &-q {
              padding: 10px 30px 10px 40px;
              background-size: 20px auto, 100% 100%;
              background-position: 13px 8px, center center;
              font-size: 1.3rem;
              &::before,
              &::after {
                top: calc(50% - 1.5px);
                right: 10px;
                width: 14px;
                height: 3px;
              }
            }
            &-a {
              padding: 0 0 0 40px;
              background-size: 20px auto, 100% 100%;
              background-position: 13px 13px, center center;
              font-size: 1.3rem;
              font-weight: 400;
              &.is-active {
                height: auto;
                padding: 15px 15px 15px 40px;
              }
            }
          }
        }

        &.sec04 {
          padding: 50px 0 35px;
          .section {
          }
          .handling {
            &-list {
              &-item {
                .logo {
                  img {
                    height: 28px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /*=== 鈑金・修理 ===*/
  &.repair {
    #keyVisual{
      background: url(../cmn-img/service/repair/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
      h2.page_title {
        span.en {
          background: $cl-orange;
          color: $cl-white;
        }
      }
    }
    section {
      .title_obi {
        background: $cl-orange;
        color: #fff;
        text-align: center;
      }
    }

    //sec01
    .perks {
      padding: 40px 5%;
      background: #FFDFBA;
      &-title {
        margin-bottom: 15px;
      }
      &-inner {
        padding: 35px 30px;
        background: #fff;
        border: $cl-orange 5px solid;
        border-radius: 25px;
      }
      &-list {
        &-item {
          margin-bottom: 20px;
        }
        &-inner {
          display: flex;
          align-items: center;
        }
        &-numb {
          width: 100px;
          margin-right: 10px;
        }
        &-title {
          width: 240px;
          margin-right: 15px;
          font-size: 2.4rem;
          color: $cl-blue;
          font-weight: 800;
        }
        &-text {
          width: calc(100% - 365px);
          font-size: 1.8rem;
          font-weight: 600;
          .note {
            display: block;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.2;
          }
        }
      }
    }

    //sec02
    .point {
      padding-top: 60px;
      @include point_container($cl-orange);
    }
    .color_box_content {
      margin-bottom: 65px;
      .box {
        .tab {
          img {
            width: 75px;
          }
        }
        .img {
          width: 100%;
          padding-top: 10px;
        }
      }
    }

    //sec03
    .sec03 {
      margin-bottom: 100px;
      .handling {
        @include handling($cl-orange);
        &-list {
          &-item {
            .logo {
              align-items: flex-start;
              img {
                width: 200px;
                vertical-align: center;
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }
  //tablet
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    &.repair {
      //sec01
      .perks {
        background: #FFDFBA;
        &-inner {
          padding: 25px;
        }
        &-list {
          &-numb {
            width: 15%;
          }
          &-title {
            width: 200px;
            margin-right: 10px;
            font-size: 2rem;
          }
          &-text {
            width: calc(85% - 210px);
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  //sp
  @media (max-width: 768px) {
    &.repair {
      #keyVisual{
        background: url(../cmn-img/service/repair/sp/key_visual.png) no-repeat;
        background-size: cover;
        background-position: center;
      }
      .perks {
        &-list {
          &-inner {
            flex-direction: column
          }
          &-numb {
            width: 50%;
            max-width: 100px;
            margin: 0 auto 10px;
          }
          &-title {
            width: 100%;
            margin-bottom: 15px;
            text-align: center;
            font-size: 2rem;
          }
          &-text {
            width: 100%;
            margin-bottom: 20px;
            font-size: 1.4rem;
          }
        }
      }
      .point {
        &-title {
          display: inline-block;
          width: 100%;
          height: auto;
          span {
            display: block;
          }
        }
      }
    }
  }

  /*=== 車検・整備 ===*/
  &.maintenance {
    #keyVisual{
      background: url(../cmn-img/service/maintenance/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
      h2.page_title {
        span.en {
          background: $cl-yellow_green;
          color: $cl-white;
        }
      }
    }
    section {
      .title_obi {
        background: $cl-yellow_green;
        color: $cl-white;
      }
    }

    //sec01
    .point {
      @include point_container($cl-yellow_green);
    }

    .color_box_content {
      margin-bottom: 65px;
      .box {
        width: calc((100% - 20px) / 2);
        &:nth-child(2) {
          margin-right: 0;
        }
        .tab {
          img {
            width: 75px;
          }
        }
        .note {
          display: block;
          margin-bottom: 20px;
          font-size: 1.2rem;
          font-weight: 700;
        }
        .img {
          width: 75%;
        }
      }
    }

    //sec02
    .sec02 {
      padding-bottom: 60px;
      .handling {
        margin-bottom: 30px;
        @include handling($cl-yellow_green);
        .logo {
          display: flex;
          align-items: end;
          img {
            height: 45px;
            margin-right: 15px;
          }
        }
        &-list {
          &-item {
            &:nth-child(3) {
              .logo {
                img {
                  height: 35px;
                }
              }
            }
          }
        }
      }
      &-button {
        width: 57%;
        margin: 0 auto;
      }
    }
  }

  //tablet
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    &.maintenance {
      .sec02 {
        .handling {
          .logo {
            img {
              height: 35px;
              margin-right: 5px;
            }
          }
          &-list {
            &-item {
              &:nth-child(3) {
                .logo {
                  img {
                    height: 25px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //sp
  @media screen and (max-width: 768px) {
    &.maintenance {
      #keyVisual{
        background: url(../cmn-img/service/maintenance/sp/key_visual.png) no-repeat;
        background-size: cover;
        background-position: center;
      }
      .color_box_content {
        .box {
          width: 90%;
          &:nth-child(2) {
            margin: 50px auto;
          }
        }
      }
      .sec02 {
        .handling {
          &-list {
            &-item {
              &:nth-child(3) {
                .logo {
                  img {
                    height: 25px;
                  }
                }
              }
            }
          }
        }
        &-button {
          width: 95%;
        }
        .handling {
          .logo {
            flex-direction: column;
            align-items: center;
            span {
              font-size: 1.6rem;
            }
          }
          &-list {
            &-item {
              .link {
                a {
                  font-size: 1.8rem;
                }
              }
            }
          }
        }
      }
    }
  }

  /*=== レンタカー ===*/
  &.carrental {
    #keyVisual{
      background: url(../cmn-img/service/carrental/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
      h2.page_title {
        span.en {
          background: $cl-pink;
          color: $cl-white;
        }
      }
    }

    //sec01
    .sec01 {
      padding-bottom: 60px;
      .rental-logo {
        width: 50%;
        padding-top: 40px;
        margin: 0 auto 30px;
      }
      .handling {
        @include handling($cl-pink);
        &-list {
          &-item {
            .link {
              a {
                padding: 5px 30px 0 15px;
                margin-right: -15px;
                font-size: 2.4rem;
              }
            }
          }
        }
        .logo {
          align-items: end;
          img {
            margin-right: 15px;
          }
        }
        .note {
          padding-top: 20px;
          font-size: 1.6rem;
          color: #EA5503;
          text-align: center;
          font-weight: 600;
        }
      }
      .jnet {
        .logo {
          img {
            width: 242px;
          }
        }
      }
      .kbrentacar {
        .link {
          a {
            font-size: 2.2rem;
          }
        }
        .logo {
          img {
            width: 294px;
          }
        }
      }
    }
  }

  //tablet
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    &.carrental {
      .sec01 {
        .handling {
          .logo {
            img {
              // height: 35px;
              // margin-right: 5px;
            }
          }
        }
      }
    }
  }

  //sp
  @media screen and (max-width: 768px) {
    &.carrental {
      #keyVisual{
        background: url(../cmn-img/service/carrental/sp/key_visual.png) no-repeat;
        background-size: cover;
        background-position: center;
      }
      .sec01 {
        .rental {
          &-logo {
            width: 80%;
          }
        }
        .handling {
          .logo {
            flex-direction: column;
            align-items: center;
            span {
              font-size: 1.6rem;
            }
          }
          &-list {
            &-item {
              .link {
                a {
                  font-size: 1.8rem;
                }
              }
            }
          }
        }
      }
    }
  }

  /*=== 保険 ===*/
  &.insurance {
    #keyVisual{
      background: url(../cmn-img/service/insurance/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
      h2.page_title {
        span.en {
          background: #FB401C;
          color: $cl-white;
        }
      }
    }
    section {
      .title_obi{
        background: #FB401C;
        color: $cl-white;
      }
    }

    //sec01
    .sec01 {
      padding-top: 65px;
      margin-bottom: 60px;
      &-title {
        width: 63.6%;
        margin: 0 auto 40px;
      }
      .text {
        margin-bottom: 50px;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
      }
    }
    .sec02 {
      padding-bottom: 90px;
      &-title {
        margin-bottom: 25px;
      }
      &-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        &-item {
          width: calc((100% - 40px) / 3);
          .title {
            padding: 5px 0;
            margin-bottom: 15px;
            background: #FB401C;
            font-size: 2rem;
            color: #fff;
            font-weight: 600;
            text-align: center;
          }
          .pic {
            display: flex;
            align-items: center;
            border: #000 2px solid;
          }
        }
      }
      .policy {
        &-inner {
          padding: 30px 50px;
          margin-bottom: 50px;
          background: #FFEFEB;
          border: #FB401C 1px solid;
        }
        &-title {
          padding: 15px 0;
          margin-bottom: 25px;
          background: #FB401C;
          font-size: 2.4rem;
          color: #fff;
          font-weight: 700;
          text-align: center;
        }
        &-text {
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 2;
          text-align: center;
        }
      }
      &-button {
        width: 57.6%;
        margin: 0 auto;
      }
    }
  }

  //tablet
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    &.insurance {
      .sec02 {
      }
    }
  }

  //sp
  @media screen and (max-width: 768px) {
    &.insurance {
      #keyVisual{
        background: url(../cmn-img/service/insurance/sp/key_visual.png) no-repeat;
        background-size: cover;
        background-position: center;
      }
      //sec01
      .sec01 {
        padding-top: 25px;
        margin-bottom: 30px;
        &-title {
          width: 90%;
          margin: 0 auto 20px;
        }
        .text {
          margin-bottom: 20px;
          font-size: 1.4rem;
        }
      }
      .sec02 {
        padding-bottom: 50px;
        &-title {
        }
        &-list {
          flex-wrap: wrap;
          margin-bottom: 20px;
          &-item {
            width: 80%;
            margin: 0 auto;
            .title {
              font-size: 1.6rem;
            }
            .pic {
              margin-bottom: 20px;
            }
          }
        }
        .policy {
          &-inner {
            padding: 20px;
            margin-bottom: 30px;
          }
          &-title {
            font-size: 1.8rem;
          }
          &-text {
            font-size: 1.4rem;
          }
        }
        &-button {
          width: 90%;
        }
      }
    }
  }
}
