/*==============================
　　　　　　トップページ
===============================*/
/*========== PC ==========*/
body.home{
  section{
    &.sec01{
      padding-bottom: 60px;
      .mv{
        padding-bottom: 50px;
        video{
          pointer-events: none;
        }
      }
      .present_bnr {
        a {
          display: block;
          margin-bottom: 1em;
        }
      }
    }
    &.sec02{
      padding: 90px 0 80px;
      background: url(../cmn-img/index/medama_bg.png) repeat;
      background-size: 32px;
      .nav_area{
        li{
          width: 23.5%;
          margin-right: 2%;
          text-align: center;
          float: left;
          a{
            display: block;
            padding: 15px 0;
            color: $cl-white;
            border-radius: 6px;
            font-size: 1.8rem;
            font-weight: bold;
          }
          &:nth-child(1){
            a{
              background: $cl-green;
              border: 3px solid $cl-green;
              &:hover{
                background: #FFFEDE;
                color: $cl-green;
              }
            }
          }
          &:nth-child(2){
            a{
              background: $cl-yellow_green;
              border: 3px solid $cl-yellow_green;
              &:hover{
                background: #FFFEDE;
                color: $cl-yellow_green
              }
            }
          }
          &:nth-child(3){
            a{
              background: $cl-orange;
              border: 3px solid $cl-orange;
              &:hover{
                background: #FFFEDE;
                color: $cl-orange;
              }
            }
          }
          &:nth-child(4){
            margin-right: 0;
            a{
              background: $cl-deep_orange;
              border: 3px solid $cl-deep_orange;
              &:hover{
                background: #FFFEDE;
                color: $cl-deep_orange;
              }
            }
          }
        }
      }
      .medama{
        padding: 60px 0 70px;
        .title_wrap01{
          padding-bottom: 50px;
          .jp_tit{
            width: 240px;
          }
        }
        .white_board{
          background: $cl-white;
          border: 2px solid $cl-green;
          border-radius: 10px;
          padding: 30px 20px;
          position: relative;
          &::before{
            content: '';
            background: url(../cmn-img/index/medama_parts01.png) no-repeat;
            background-size: cover;
            background-position: bottom center;
            width: 269px;
            height: 140px;
            position: absolute;
            top: -135px;
            left: 0;
          }
          &::after{
            content: '';
            background: url(../cmn-img/index/medama_parts02.png) no-repeat;
            background-size: cover;
            background-position: bottom center;
            width: 281px;
            height: 185px;
            position: absolute;
            top: -187px;
            right: 0;
          }
        }
      }
      .body_type{
        padding-bottom: 70px;
        .title_wrap01{
          position: relative;
          padding-bottom: 50px;
          .jp_tit{
            width: 360px;
          }
          &::before,
          &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
          }
          &::before {
            left: 100px;
            width: 110px;
            height: 143px;
            background: url(../cmn-img/index/bodytype_people01.png) no-repeat;
            background-size: contain;
            background-position: bottom center;
          }
          &::after {
            right: 100px;
            width: 147px;
            height: 162px;
            background: url(../cmn-img/index/bodytype_people02.png) no-repeat;
            background-size: contain;
            background-position: bottom center;
          }
        }
        .holder{
          .box{
            width: 19%;
            margin-right: 1.25%;
            float: left;
            background: $cl-white;
            padding: 10px;
            border-radius: 5px;
            .img_box{
              margin-bottom: 10px;
              text-align: center;
              padding: 40px 0 30px;
              img{
                width: 90%;
              }
            }
            .txt_box{
              a{
                display: block;
                text-align: center;
                color: $cl-white;
                padding: 8px 0;
                border-radius: 5px;
                font-weight: bold;
              }
            }
            &:nth-child(1){
              border: 2px solid $cl-yellow_green;
              .img_box{
                background: #EAF0BF;
              }
              .txt_box{
                a{
                  border: 2px solid $cl-yellow_green;
                  background: $cl-yellow_green;
                  &:hover{
                    color: $cl-yellow_green;
                    background: $cl-white;
                  }
                }
              }
            }
            &:nth-child(2){
              border: 2px solid $cl-pink;
              .img_box{
                background: #FFEDF8;
              }
              .txt_box{
                a{
                  border: 2px solid $cl-pink;
                  background: $cl-pink;
                  &:hover{
                    color: $cl-pink;
                    background: $cl-white;
                  }
                }
              }
            }
            &:nth-child(3){
              border: 2px solid $cl-blue;
              .img_box{
                background: #D5E6FF;
              }
              .txt_box{
                a{
                  border: 2px solid $cl-blue;
                  background: $cl-blue;
                  &:hover{
                    color: $cl-blue;
                    background: $cl-white;
                  }
                }
              }
            }
            &:nth-child(4){
              border: 2px solid $cl-light_blue;
              .img_box{
                background: #D6F3FF;
              }
              .txt_box{
                a{
                  border: 2px solid $cl-light_blue;
                  background: $cl-light_blue;
                  &:hover{
                    color: $cl-light_blue;
                    background: $cl-white;
                  }
                }
              }
            }
            &:nth-child(5){
              border: 2px solid $cl-orange;
              .img_box{
                background: #FFDFBA;
              }
              margin-right: 0;
              .txt_box{
                a{
                  border: 2px solid $cl-orange;
                  background: $cl-orange;
                  &:hover{
                    color: $cl-orange;
                    background: $cl-white;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.sec03{
      background: #FFEA00;
      .tit_con{
        background: url(../cmn-img/index/chirashi_bg.png) repeat;
        background-size: 25px;
        .wrapper{
          height: 185px;
          position: relative;
          &::before{
            content: '';
            background: url(../cmn-img/index/chirashi_parts01.png);
            background-size: cover;
            width: 163px;
            height: 176px;
            position: absolute;
            left: 0;
            bottom: 0;
          }
          &::after{
            content: '';
            background: url(../cmn-img/index/chirashi_parts02.png) no-repeat;
            background-size: cover;
            width: 221px;
            height: 171px;
            position: absolute;
            right: 0;
            bottom: 0;
          }
          .title_wrap01{
            padding: 65px 0 50px;
            .jp_tit{
              width: 240px;
            }
          }
        }
      }
      .content{
        padding-bottom: 40px;
        .holder{
          padding: 40px 0 30px;
          .box{
            width: 46%;
            float: left;
            position: relative;
            .chirashi{
              padding-right: 40px;
            }
            .btn{
              position: absolute;
              bottom: 0;
              right: 0;
              width: 180px;
            }
            &:nth-child(2){
              float: right;
            }
          }
        }
        .button{
          width: 430px;
          margin: 0 auto;
        }
      }
    }
    &.sec04{
      padding: 100px 0;
      .title_wrap01{
        position: relative;
        padding-bottom: 20px;
        .jp_tit{
          width: 360px;
        }
        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: -15px;
        }
        &::before {
          left: 100px;
          width: 149px;
          height: 172px;
          background: url(../cmn-img/index/ranking_people01.png) no-repeat;
          background-size: contain;
          background-position: bottom center;
        }
        &::after {
          right: 70px;
          width: 211px;
          height: 263px;
          background: url(../cmn-img/index/ranking_people02.png) no-repeat;
          background-size: contain;
          background-position: bottom center;
        }
      }
      .tab-panel {
        position: relative;
        z-index: 2;
      }
      .tab-group{
        margin: 0px;
        .tab{
          padding: 15px 0 10px;
          text-align: center;
          cursor: pointer;
          width: 23.5%;
          margin-right: 2%;
          display: inline-block;
          vertical-align: bottom;
          line-height: 1;
          border-radius: 5px 5px 0 0;
          color: $cl-white;
          font-weight: bold;
          font-size: 1.8rem;
          &.is-active{
            padding: 20px 0 15px;
            font-size: 2.2rem;
          }
          &:nth-child(1){
            background: $cl-pink;
          }
          &:nth-child(2){
            background: $cl-blue;
          }
          &:nth-child(3){
            background: $cl-yellow_green;
          }
          &:nth-child(4){
            background: $cl-green;
            margin-right: 0;
          }
        }
      }
      .panel-group{
        border-top:none;
        .panel{
          display:none;
          border-radius: 0 0 20px 20px;
          padding: 0 20px;
          .holder{
            padding: 30px 0;
            .box{
              width: 27%;
              margin-right: 4%;
              float: left;
              .img_box{
                background: $cl-white;
                border-radius: 10px;
                position: relative;
                .img{
                  width: 90%;
                  margin: 0 auto;
                  padding: 30px 0 20px;
                  text-align: center;
                }
                .parts01{
                  position: absolute;
                  top: 5px;
                  left: 5px;
                  width: 60px;
                }
              }
              .txt_box{
                .tit{
                  text-align: center;
                  font-weight: bold;
                  padding: 13px 0;
                  p{
                    line-height: 1;
                    &.maker{
                      font-size: 1.2rem;
                      padding-bottom: 7px;
                    }
                    &.syasyu{
                      font-size: 1.6rem;
                    }
                  }
                }
                p.txt{
                  font-size: 1.4rem;
                }
              }
              &.rank01{
                width: 38%;
                .img_box{
                  .parts01{
                    width: 70px;
                  }
                  &::before{
                    content: '';
                    background: url(../cmn-img/index/ranking_parts04.png);
                    background-size: cover;
                    width: 42.5px;
                    height: 45px;
                    position: absolute;
                    right: -4px;
                    top: -13px;
                  }
                  &::after{
                    content: '';
                    background: url(../cmn-img/index/ranking_parts05.png);
                    background-size: cover;
                    width: 20px;
                    height: 27px;
                    position: absolute;
                    left: -2px;
                    bottom: -6px;
                  }
                }
                .txt_box{
                  .tit{
                    p{
                      &.maker{
                        font-size: 1.6rem;
                      }
                      &.syasyu{
                        font-size: 2.2rem;
                      }
                    }
                  }
                }
              }
              &.rank02{
                margin-top: 30px;
              }
              &.rank03{
                margin-top: 30px;
                margin-right: 0;
              }
            }
          }
          &.is-show_panel{
            display:block;
            transition: all 0.2s ease-out;
          }
          &.tab-A{
            border: 4px solid $cl-pink;
            background: #FFEBF8;
            .holder{
              .box{
                .img_box{
                  border: 2px solid $cl-pink;
                }
              }
            }
          }
          &.tab-B{
            border: 4px solid $cl-blue;
            background: #D5E6FF;
            .holder{
              .box{
                .img_box{
                  border: 2px solid $cl-blue;
                }
              }
            }
          }
          &.tab-C{
            border: 4px solid $cl-yellow_green;
            background: #EAF0BF;
            .holder{
              .box{
                .img_box{
                  border: 2px solid $cl-yellow_green;
                }
              }
            }
          }
          &.tab-D{
            border: 4px solid $cl-green;
            background: #E2FAE2;
            .holder{
              .box{
                .img_box{
                  border: 2px solid $cl-green;
                }
              }
            }
          }
        }
      }
    }
    &.sec06{
      .staff_blog{
        .visual_area{
          background: url(../cmn-img/index/staff_bg.png);
          background-size: cover;
          background-position: center bottom;
          position: relative;
          line-height: 0;
          .staff{
            width: 1000px;
            margin: 0 auto;
            position: relative;
            z-index: 2;
          }
          .fukidashi{
            width: 450px;
            position: absolute;
            top: 50px;
            left: 50%;
            margin-left: -200px;
            z-index: 1;
          }
          .check{
            width: 900px;
            position: absolute;
            top: 50px;
            left: 50%;
            margin-left: -400px;
            z-index: 0;
          }
        }
        .btn_area{
          position: relative;
          background: #7EBD25;
          .car01{
            position: absolute;
            top: 20px;
            left: 10%;
            width: 90px;
          }
          .car02{
            position: absolute;
            top: 60px;
            left: 20%;
            width: 100px;
          }
          .car03{
            position: absolute;
            top: 40px;
            right: 15%;
            width: 90px;
          }
          .button{
            width: 500px;
            padding: 40px 0;
            margin: 0 auto;
          }
          &::after{
            content: '';
            width: 100%;
            height: 6px;
            background: url(../cmn-img/index/staff_line.png) repeat-x;
            background-size: 53px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
      .sns_area{
        background: #7EBD25;
        padding: 60px 0 80px;
        .title{
          width: 480px;
          padding-bottom: 30px;
          margin: 0 auto;
          &-wrap {
            position: relative;
            &::before,
            &::after {
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
            }
            &::before {
              left: 100px;
              width: 151px;
              height: 171px;
              background: url(../cmn-img/index/sns_people01.png) no-repeat;
              background-size: contain;
              background-position: bottom center;
            }
            &::after {
              right: 70px;
              width: 159px;
              height: 171px;
              background: url(../cmn-img/index/sns_people02.png) no-repeat;
              background-size: contain;
              background-position: bottom center;
            }
          }

        }
        .youtube_box{
          border-radius: 10px;
          overflow: hidden;
          .tit_area{
            background: #FFF100;
            .tit{
              width: 300px;
              margin: 0 auto;
              padding: 30px 0;
            }
          }
          .content{
            background: $cl-white;
            padding: 30px 60px;
            .holder{
              .box{
                width: 48%;
                float: left;
                iframe{
                  border-radius: 10px;
                }
                &:nth-child(even){
                  float: right;
                }
              }
            }
            .button{
              width: 300px;
              margin: 20px auto 0;
            }
          }
        }
      }
    }
    &.sec07{
      padding: 60px 0;
      .title_wrap01{
        padding-bottom: 20px;
        .jp_tit{
          width: 135px;
        }
      }
      .more_btn{
        float: right;
        width: 112px;
        a{
          display: block;
          text-align: center;
          color: $cl-white;
          font-size: 1.2rem;
          position: relative;
          background: $cl-green;
          border: 2px solid $cl-green;
          line-height: 1;
          padding: 6px 0;
          border-radius: 30px;
          &::after{
            content: '';
            width: 6px;
            height: 9px;
            background: url(../cmn-img/common/btn_arrow01.png);
            background-size: cover;
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -4.5px;
          }
          &:hover{
            background: $cl-white;
            color: $cl-green;
            &::after{
              background: url(../cmn-img/common/btn_arrow01_on.png);
              background-size: cover;
            }
          }
        }
      }
      ul.news_liset{
        padding: 10px 0 60px;
        li{
          a{
            display: block;
            padding: 18px 30px 15px;
            border-bottom: 1px dashed $cl-green;
            line-height: 1;
            .date{
              width: 17%;
              float: left;
              p{
                font-family: $ff-arial;
                font-size: 1.8rem;
                color: $cl-green;
                font-weight: bold;
                font-style: italic;
              }
            }
            .txt{
              width: 83%;
              float: left;
              p{
                font-size: 1.4rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }
            &:hover{
              .txt{
                color: $cl-green;
              }
            }
          }
        }
      }
    }
    &.sec08{
      padding: 90px 0 60px;
      background: #F8F6EE;
      .title_wrap01{
        position: relative;
        padding-bottom: 20px;
        .jp_tit{
          width: 160px;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: -15px;
        }
        &::before {
          left: 80px;
          width: 218px;
          height: 161px;
          background: url(../cmn-img/index/office_people01.png) no-repeat;
          background-size: contain;
          background-position: bottom center;
        }
      }
    }
    &.sec09{
      background: #EBEBEB;
      padding: 70px 0 60px;
      .title_wrap01{
        position: relative;
        padding-bottom: 40px;
        .jp_tit{
          width: 160px;
        }
        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
        }
        &::before {
          left: 50px;
          width: 279px;
          height: 157px;
          background: url(../cmn-img/index/recruit_people01.png) no-repeat;
          background-size: contain;
          background-position: bottom center;
        }
        &::after {
          right: 50px;
          width: 254px;
          height: 173px;
          background: url(../cmn-img/index/recruit_people02.png) no-repeat;
          background-size: contain;
          background-position: bottom center;
        }
      }
      .bnr_area{
        .bnr01{
          margin-bottom: 15px;
        }
        .holder{
          .bnr{
            width: 49%;
            float: left;
            &:nth-child(even){
              float: right;
            }
          }
        }
      }
    }
  }
}


/*======== TABLET ========*/
@media screen and (min-width: 760px) and (max-width: 1040px) {
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
  body.home{
    section{
      &.sec01{
        .present_bnr{
          // max-width: 500px;
          margin: 0 auto;
        }
      }
      &.sec02 {
        .medama {
          .white_board {
            &::after {
              width: 30%;
              background-size: contain;
            }
          }
        }
        .body_type {
          .title_wrap01 {
            &::before {
              left: 0;
            }
            &::after {
              right: 0;
              width: 20%;
            }
          }
        }
      }

      &.sec04 {
        .title_wrap01 {
          &::before {
            left: 0;
            width: 17%;
          }
          &::after {
            right: 0;
            width: 23%;
          }
        }
      }

      &.sec06{
        .staff_blog{
          .visual_area{
            padding-top: 130px;
            .staff{
              width: 60%!important;
            }
            .fukidashi{
              width: 70%!important;
              margin-left: -35%!important;
            }
            .check{
              width: 110%!important;
              margin-left: -55%!important;
            }
          }
        }
        .sns_area {
          .title-wrap {
            &::before {
              left: 0;
              width: 20%;
            }
            &::after {
              right: 0;
              width: 20%;
            }
          }
        }
      }
      &.sec07{
        .bnr{
          max-width: 500px;
          margin: 0 auto;
        }
      }
      &.sec08 {
        .title_wrap01 {
          &::before {
            left: 0;
            width: 30%;
          }
        }
      }
      &.sec09{
        .title_wrap01 {
          &::before {
            // left: 0;
            width: 30%;
          }
          &::after {
            // left: 0;
            width: 30%;
          }
        }
        .bnr_area{
          width: 70%!important;
          margin: 0 auto!important;
        }
      }
    }
  }
}


/*========== SP ==========*/
@media (max-width: 768px) {
  body.home{
    section{
      &.sec01{
        padding-bottom: 20px;
        .mv{
          padding-bottom: 20px;
        }
      }
      &.sec02{
        padding: 40px 0 30px;
        background-size: 24px;
        .nav_area{
          li{
            width: 49%;
            margin-right: 0;
            margin-bottom: 6px;
            &:nth-child(even){
              float: right;
            }
            a{
              padding: 10px 0;
              font-size: 1.6rem;
            }
          }
        }
        .medama{
          padding: 35px 0 40px;
          .title_wrap01{
            padding-bottom: 95px;
            .jp_tit{
              width: 208px;
            }
          }
          .white_board{
            padding: 20px 0 10px;
            &::before{
              width: 176px;
              height: 90px;
              top: -87px;
            }
            &::after{
              background: url(../cmn-img/index/sp/medama_parts02.png) no-repeat;
              background-size: cover;
              width: 170px;
              height: 98px;
              top: -100px;
            }
          }
        }
        .body_type{
          padding-bottom: 10px;
          .title_wrap01{
            padding-bottom: 55px;
            .jp_tit{
              width: 300px;
            }
            &::before {
              left: 0;
              width: 61px;
              height: 80px;
            }
            &::after {
              right: 0;
              width: 80px;
              height: 90px;
            }
          }
          .holder{
            .box{
              width: 48%;
              margin-right: 1%;
              float: none;
              margin-bottom: 10px;
              display: inline-block;
              &:nth-child(even){
                margin-left: 1%;
                margin-right: 0;
              }
              .img_box{
                padding: 20px 0;
                img{
                  width: 85%;
                }
              }
              .txt_box{
                a{
                  padding: 8px 0;
                }
              }
            }
          }
        }
      }
      &.sec03{
        .tit_con{
          .wrapper{
            height: 140px;
            &::before{
              width: 81px;
              height: 88px;
            }
            &::after{
              width: 100px;
              height: 80px;
            }
            .title_wrap01{
              padding: 40px 0 50px;
              .jp_tit{
                width: 200px;
              }
            }
          }
        }
        .content{
          padding-bottom: 40px;
          .holder{
            padding: 40px 0 0;
            .box{
              width: 90%;
              float: none;
              margin: 0 auto 40px;
              .chirashi{
                padding-right: 0;
              }
              .btn{
                bottom: -20px;
                right: 50%;
                width: 140px;
                margin-right: -70px;
              }
              &:nth-child(2){
                float: none;
              }
            }
          }
          .button{
            width: 96%;
            max-width: 500px;
          }
        }
      }
      &.sec04{
        padding: 40px 0 50px;
        .title_wrap01{
          padding-bottom: 10px;
          .jp_tit{
            width: 300px;
          }
          &::before,
          &::after {
            display: none;
          }
        }
        .tab-group{
          .tab{
            padding: 13px 0 10px;
            width: 24%;
            margin-right: 1.2%;
            font-size: 1.5rem;
            &.is-active{
              padding: 18px 0 13px;
              font-size: 1.8rem;
            }
          }
        }
        .panel-group{
          .panel{
            .holder{
              .box{
                width: 90%;
                margin-right: auto;
                margin-left: auto;
                float: none;
                &.rank01{
                  width: 100%;
                }
                &.rank03{
                  margin-right: auto;
                }
              }
            }
          }
        }
      }
      &.sec06{
        .staff_blog{
          .visual_area{
            background: url(../cmn-img/index/sp/staff_bg.png);
            background-size: cover;
            background-position: center bottom;
            overflow: hidden;
            .staff{
              width: 100%;
              padding-top: 120px;
            }
            .fukidashi{
              width: 96%;
              position: absolute;
              top: 20px;
              left: 50%;
              margin-left: -48%;
            }
            .check{
              width: 120%;
              position: absolute;
              top: 60px;
              left: 50%;
              margin-left: -60%;
              z-index: 0;
            }
          }
          .btn_area{
            .car01{
              top: 5px;
              left: 20px;
              width: 70px;
            }
            .car02{
              top: 25px;
              left: 120px;
              width: 80px;
            }
            .car03{
              top: 15px;
              right: 20px;
              width: 70px;
            }
            .button{
              width: 96%;
              max-width: 500px;
              padding: 65px 0 25px;
            }
            &::after{
              background-size: 40px;
            }
          }
        }
        .sns_area{
          padding: 30px 0 40px;
          .title{
            width: 96%;
            max-width: 500px;
            margin: 0 auto 10px;
            &-wrap {
              &::before,
              &::after {
                display: none;
              }
            }
          }
          .youtube_box{
            .tit_area{
              .tit{
                width: 80%;
                max-width: 400px;
                padding: 25px 0 20px;
              }
            }
            .content{
              background: $cl-white;
              padding: 30px 3% 20px;
              .holder{
                .box{
                  width: 100%;
                  float: none;
                  margin-bottom: 10px;
                  &:nth-child(even){
                    float: none;
                  }
                  iframe{
                    height: 180px;
                  }
                }
              }
              .button{
                width: 100%;
                max-width: 500px;
                margin: 10px auto 0;
              }
            }
          }
        }
      }
      &.sec07{
        padding: 50px 0 40px;
        .title_wrap01{
          padding-bottom: 5px;
          .jp_tit{
            width: 135px;
          }
        }
        ul.news_liset{
          padding: 0 0 30px;
          li{
            a{
              padding: 18px 10px 15px;
              .date{
                width: 100%;
                float: none;
                p{
                  font-size: 1.8rem;
                }
              }
              .txt{
                width: 100%;
                float: none;
                margin-top: 10px;
                p{
                  font-size: 1.4rem;
                }
              }
              &:hover{
                .txt{
                  color: $cl-green;
                }
              }
            }
          }
        }
      }
      &.sec08{
        padding: 40px 0 30px;
        .title_wrap01{
          padding-bottom: 40px;
          .jp_tit{
            width: 135px;
          }
          &::before {
            left: 0;
            width: 120px;
            height: 94px;
          }
        }
      }
      &.sec09{
        padding: 40px 0 30px;
        .title_wrap01{
          padding-bottom: 30px;
          .jp_tit{
            width: 135px;
          }
          &::before,
          &::after {
            display: none;
          }
        }
        .bnr_area{
          .bnr01{
            margin-bottom: 10px;
          }
          .holder{
            .bnr{
              width: 100%;
              float: none;
              margin-bottom: 10px;
              &:nth-child(even){
                float: none;
              }
            }
          }
        }
      }
    }
  }
}
