/*==============================
　　　　  　最新在庫情報
===============================*/
/*========== PC ==========*/
body.zaiko{
  background: #F8F6EE;
  #keyVisual{
    background: url(../cmn-img/zaiko/key_visual.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  section{
    &.sec01{
      padding: 80px 0;
    }
  }
}

/*======== TABLET ========*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/*========== SP ==========*/
@media (max-width: 768px) {
  body.zaiko{
    #keyVisual{
      background: url(../cmn-img/zaiko/sp/key_visual.png) no-repeat;
      background-size: cover;
      background-position: center;
    }
    section{
      &.sec01{
        padding: 40px 0;
      }
    }
  }
}